---
layout: layouts/film.njk
title: "40"
authors:
  - name: Terry Ngo-Stofocik
    instagram: terry_ngostofocik
    bio: Terry Ngo-Stofocik is a Vietnamese-American filmmaker, educator, and community organizer.
navlogo: emojianim
backgroundcolor: F5F5F5
image: /img/films/40.jpg
body: '<p><i>"Long, hot, boring summer days are spent in Terry''s parents'' store with her siblings. Is this as good as it gets?"</i></p>'
---
