---
layout: layouts/base.njk
title: "40"
description: "Terry Ngo-Stofocik"
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /40/
image: /img/films/40.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/40.jpg" alt="40 film still" class="post-hero installation-hero">
    </br>
        <p><i>Long, hot, boring summer days are spent in Terry's parents' store with her siblings. Is this as good as it gets?</i></p>
        </br>

        <span>-- Terry Ngo-Stofocik</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/terry_ngostofocik" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
        </br>

        <p>Terry Ngo-Stofocik is a Vietnamese-American filmmaker, educator, and community organizer.</p>

  </div>
  </br></br>
</div>
