---
layout: layouts/base.njk
title: "Amatilla"
description: "Adham Garman"
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /amatilla/
image: /img/films/amatilla.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/amatilla.jpg" alt="Amatilla film still" class="post-hero installation-hero">
    </br>
        <p><i>Amatilla is an experimental short that emerges from the journals I had long been afraid to open. It is a return to the fragments of my past moments of migration from Yemen to Frankfurt and then to America and the effects it had with my relationship with my grandmother and my aunts and mother. How her life during war as a widow had paved the way for my dreams. The film is a meditation on longing for freedom, holding on to hope in the face of loss, and the persistence of love after death.</i></p>
        </br>

        <span>-- Adham Garman</span><a name="instagram link" class="artist-insta" href="#" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
        </br>

        <p>Adham Garman a Yemen born, California raised and New york based director/writer. A current Philosophy and literature student with a minor in Film studies. Writings and films focusing on queer identity, cultural representation and racial politics from the SWANA region.</p>

  </div>
  </br></br>
</div>
