---
layout: layouts/film.njk
title: Amatilla
authors:
  - name: Adham Garman
    instagram: ""
    bio: Adham Garman is a Yemen born, California raised and New york based director/writer. A current Philosophy and literature student with a minor in Film studies. Writings and films focusing on queer identity, cultural representation and racial politics from the SWANA region.
navlogo: emojianim
backgroundcolor: F5F5F5
image: /img/films/amatilla.jpg
body: '<p><i>"Amatilla is an experimental short that emerges from the journals I had long been afraid to open. It is a return to the fragments of my past moments of migration from Yemen to Frankfurt and then to America and the effects it had with my relationship with my grandmother and my aunts and mother. How her life during war as a widow had paved the way for my dreams. The film is a meditation on longing for freedom, holding on to hope in the face of loss, and the persistence of love after death."</i></p>'
---
