---
layout: layouts/base.njk
title: Bag Check
description: Matthew Atkins
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /bag-check/
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/bag-check.jpg" alt="bag check still" class="post-hero installation-hero">
    </br>
    <p>"Bag Check comes from the desire to grow my skill as a storyteller. From acting to directing, there were many new 'fronts' myself and the team pushed ourselves into. Half-born of lived experience, I'm hoping the film gives some comedic relief in the topic of border crossing in Latin America, and showcases a little bit of what it means to live between two cultures."</p>
    </br>
    <span>-- Matthew Atkins</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/matkinz/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Matthew Atkins is a composer and filmmaker in Albuquerque, New Mexico. He has been composing and writing with Dust Wave for the past 2 years. After graduating with a Bachelor of Arts in Music in 2011 from UNM, Matthew spent time performing indie rock and classical music. He ignited a desire to compose for film and video in 2020, and continues to grow as a creative.</p>
    </br>
  </div>
