---
layout: layouts/base.njk
title: Border Wall Construction, 2020
description: Matthew Chase-Daniel and Julie Chase-Daniel
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /border-wall-construction-2020/
image: /img/films/border-wall-construction-2020.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/border-wall-construction-2020.jpg" alt="border wall still" class="post-hero installation-hero">
    </br>
    <p>"The fragile ecosystem along El Camino del Diablo in Southern Arizona was invaded by thundering trucks transporting steel panels during the brutalizing construction of the US/ Mexico border wall in March 2020. As witnesses to this, the filmmakers felt compelled to document and share what they saw."</p>
    </br>
    <span>-- Matthew Chase-Daniel</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/mchasedaniel/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Matthew Chase-Daniel is a multi-media artist exhibiting internationally since 1985, and represented by Craig Krull Gallery. Based in Santa Fe, he is a member of the Railyard Art Committee, a host of Coffee and Culture (an arts-interview radio show), curator of The Lena Wall, and the co-founder and co-curator of Axle Contemporary, a mobile artspace, founded in 2010. He studied at the Ojai Foundation, at Sarah Lawrence College (B.A.), and at the Ecole Pratique des Hautes Etudes and the Sorbonne where he studied cultural anthropology, photography, and ethnographic film production.</p>
    <p>Julie Chase-Daniel is a poet, potter, and transdisciplinary scholar, focused on evolutionary consciousness. She's brought her skills as a thought partner to leadership roles in both non-profit and for-profit organizations, and as an arts consultant, doula, and diviner. She holds an M.A. from California Institute of Integral Studies, and is the founder of In the Family Way, co-creator of I Ching Mothering Change, co-founder of Poetry Pollinators, and a founding member of Support + Feed, an intersectional nonprofit that takes action for a global shift to an equitable, plant-based food system to combat food insecurity and the climate crisis.</p>
    <p>Together the Chase-Daniels are currently working on Direct Exposure, a series of large-scale cyanotypes made along the length of the US/Mexico border. Previous work includes exhibition and publication of The Blue Fold, a collection of images and writings from a remote arts residency in the Dry Tortugas Islands during Hurricane Irma. See <a href="http://www.jamchasedaniel.com" target="_blank">www.jamchasedaniel.com</a></p>
    </br>
  </div>
