---
layout: layouts/film.njk
title: Border Wall Construction, 2020
authors:
  - name: Matthew Chase-Daniel
    instagram: mchasedaniel
    bio: "Matthew Chase-Daniel is a multi-media artist exhibiting internationally since 1985. Based in Santa Fe, he is a member of the Railyard Art Committee, a host of Coffee and Culture (an arts-interview radio show), curator of The Lena Wall, and the co-founder and co-curator of Axle Contemporary, a mobile artspace founded in 2010."
  - name: Julie Chase-Daniel
    instagram: ""
    bio: "Julie Chase-Daniel is a poet, potter, and transdisciplinary scholar, focused on evolutionary consciousness. She holds an M.A. from California Institute of Integral Studies, and is the founder of In the Family Way, co-creator of I Ching Mothering Change, and a founding member of Support + Feed."
navlogo: emojianim
backgroundcolor: F5F5F5
image: /img/films/border-wall-construction-2020.jpg
artistStatement: The fragile ecosystem along El Camino del Diablo in Southern Arizona was invaded by thundering trucks transporting steel panels during the brutalizing construction of the US/ Mexico border wall in March 2020. As witnesses to this, the filmmakers felt compelled to document and share what they saw.
---
