---
layout: layouts/film.njk
title: Coyote
description: Dusty Deen
authors:
  - name: Dusty Deen
    instagram: dustydeen
    bio: "Dusty Deen is an American animator and filmmaker. His vibrant creations have been featured on screens and in galleries worldwide. His abstract representations are often emotive and psychedelic, brought to life with an animation process that marries timeless techniques with modern technology."
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /coyote/
image: /img/films/coyote.jpg
body: '<p><i>"I''ve always been intrigued by the term coyote when used as slang to describe the human smugglers who lead immigrants through the Chihuahuan Desert. Actual coyotes are often seen as deceptive, unrelenting menaces and their human counterparts expand on those descriptions. Coyotes take advantage of people at their most vulnerable by taking money from those looking to come into the United States to lead them through the desert so that they may illegally cross into the US. Often those coyotes will take further advantage of or even leave those people for dead. This practice is fueled by politics."</i></p>'
---
