---
layout: layouts/base.njk
title: Coyote
description: Dusty Deen
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /coyote/
image: /img/films/coyote.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <div style="position:relative;">
      <img src="/img/films/best-film.png" alt="best film" class="top-right-corner">
      <img src="/img/films/coyote.jpg" alt="coyote still" class="post-hero installation-hero">
    </div>
    </br>
    <p>"I've always been intrigued by the term "coyote" when used as slang to describe the human smugglers who lead immigrants through the Chihuahuan Desert. Actual coyotes are often seen as deceptive, unrelenting menaces and their human counterparts expand on those descriptions. "Coyotes" take advantage of people at their most vulnerable by taking money from those looking to come into the United States to lead them through the desert so that they may illegally cross into the US. Often those "coyotes" will take further advantage of or even leave those people for dead. This practice is fueled by politics."</p>
    </br>
    <span>-- Dusty Deen</span><a name="instagram link" class="artist-insta" href="https://instagram.com/dustydeen" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Dusty Deen is an American animator and filmmaker. His vibrant creations have been featured on screens and in galleries worldwide. His abstract representations are often emotive and psychedelic, brought to life with an animation process that marries timeless techniques with modern technology.</p>
    <p>He lends his unique style to films, documentaries, music videos, and more.</p>
    <p>See it all at <a href="https://dustydeen.com" target="_blank">dustydeen.com</a></p>
    </br>
  </div>
