---
layout: layouts/base.njk
title: Creat
description: Jonathan Nagel
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /creat/
image: /img/films/creat.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/creat.jpg" alt="creat still" class="post-hero installation-hero">
    </br>
    <a name="instagram link" class="artist-insta" href="https://instagram.com/jonathannagel" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Jonathan is a rare and incredibly powerful artist whose art is loaded with archetypal themes that touch us all in our day-to-day lives. Jonathan's background in storytelling, creating from soul, producing films, and as an illustrator in the field of design are all resources he draws upon to connect to and inspire the world. Jonathan believes creativity and expression of one's soul is integral to the health and well being and spiritual development of being human.</p>
    </br>
  </div>
