---
layout: layouts/film.njk
title: Fences
authors:
  - name: Benjamin A. Fuller
    instagram: ""
    bio: Benjamin A. Fuller is an actor and filmmaker.
navlogo: emojianim
backgroundcolor: F5F5F5
image: /img/films/fences.jpg
artistStatement: As the separation of the family impacts all levels of life, I tried to show, not tell, the conflict in the lives of this father and son.
---
