---
layout: layouts/base.njk
title: Fences
description: Benjamin A. Fuller
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /fences/
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/fences.jpg" alt="fences still" class="post-hero installation-hero">
    </br>
    <p>"As the separation of the family impacts all levels of life, I tried to show, not tell, the conflict in the lives of this father and son."</p>
    </br>
    <span>-- Benjamin A. Fuller</span>
    </br>
    <p>Benjamin A. Fuller is an actor and filmmaker.</p>
    </br>
  </div>
