---
layout: layouts/base.njk
title: Follow Me Quietly
description: Wheeler Winston Dixon
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /follow-me-quietly/
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/follow-me-quietly.jpg" alt="follow still" class="post-hero installation-hero">
    </br>
    <p>"Don't follow me; I'm lost." -- U.G. Krishnamurti </p>
    </br>
    <p>Wheeler Winston Dixon is the James Ryan Professor Emeritus of Film Studies at the University of Nebraska, Lincoln, and, with Gwendolyn Audrey Foster, editor of the book series Quick Takes: Movies and Popular Culture for Rutgers University Press, which has to date published more than twenty volumes on various cultural topics. He is the author of more than thirty books on film history, theory and criticism, as well as more than 100 articles in various academic journals. He is also an active experimental filmmaker, whose works are in the permanent collection of The Museum of Modern Art. His recent video work is collected in the UCLA Film and Television Archive. He has also taught at The New School, Rutgers University, and the University of Amsterdam.</p>
    <p>His recent books include Synthetic Cinema: The 21st Century Movie Machine (2019), The Films of Terence Fisher: Hammer Horror and Beyond (2017), Black and White Cinema: A Short History (2015); Streaming: Movies, Media and Instant Access (2013); Death of the Moguls: The End of Classical Hollywood (2012); 21st Century Hollywood: Movies in the Era of Transformation (2011, co-authored with Gwendolyn Audrey Foster); and Film Noir and the Cinema of Paranoia (2009). Dixon's second, expanded edition of his classic book A History of Horror (2010) was published in 2023.</p>
    <p>Dixon's book A Short History of Film (2008, co-authored with Gwendolyn Audrey Foster) was reprinted six times through 2012. A second, revised edition was published in 2013; a third, revised edition was published in 2018; and a fourth revised edition with a great deal of new material will be published in early 2025. The book is a required text in universities throughout the world.</p>
    <p>As an experimental filmmaker, his works have been screened at The Museum of Modern Art, The Whitney Museum of American Art, Anthology Film Archives, Filmhuis Cavia (Amsterdam), Studio 44 (Stockholm), La lumière collective (Montréal), The BWA Katowice Museum (Poland), The Microscope Gallery, The National Film Theatre (UK), The Jewish Museum, The Millennium Film Workshop, The San Francisco Cinématheque, LA Filmforum (Los Angeles), The New Arts Lab, The Exploding Cinema (London), The Collective for Living Cinema, The Kitchen, The Filmmakers Cinématheque, Film Forum, The Amos Eno Gallery, Sla 307 Art Space, The Gallery of Modern Art, The Rice Museum, The Oberhausen Film Festival, Undercurrent, Experimental Response Cinema and other venues.</p>
    </br>
  </div>
