---
layout: layouts/base.njk
title: Les Yeux (The Eyes)
description: Walker Stovall
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /les-yeux/
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/les-yeux.jpg" alt="les yeux still" class="post-hero installation-hero">
    </br>
    <p>"I wanted to achieve the feeling that I live with on a day to day basis. Being visibly gay (limp wrist, interesting gait, pretty eyes, etc.) there are constant eyes on me and the things I do. People are constantly either looking for confirmation that yes, I do fit into their gay stereotype, or waiting for me to give them a reason to harass (or something worse) me. To live in America is to live in a panopticon, and if you're not a white cisgender heterosexual man, you only get more spotlights on you."</p>
    </br>
    <span>-- Walker Stovall </span><a name="instagram link" class="artist-insta" href="https://instagram.com/yungw8lker" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a><span> and </span><a name="instagram link" class="artist-insta" href="https://instagram.com/yungwalker" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Walker Stovall is an old soul/pretty face/waist on sleek born and raised in Albuquerque, New Mexico. He grew up doing theater and fell in love with storytelling. He met Lien Maatta on her very first day of school, the rest is history in the making. He is moving to New York City to pursue acting at the Atlantic Acting School, and he is not above handouts so if you'd like to support him in that endeavor please let him know. Also if you think he's smart, talented, hot, sexy, funny, etc. let him know he would love to hear it.</p>
    </br>
  </div>
