---
layout: layouts/film.njk
title: "Líneas de Comunicación / Lines of Communication"
description: "Kimberly Lyle"
authors:
  - name: Kimberly Lyle
    instagram: kimber.lyle
    bio: ""
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /lineas-de-comunicacion-lines-of-communication/
image: /img/films/lineas-de-comunicacion-lines-of-communication.jpg
body: <p><i>"Juggling becomes a metaphor for navigating spaces between languages. Using experience as a starting point, I interviewed my mother about her use of Spanish and English as a person who was born and raised in Panama, then later moved to the United States. As the performance progresses, these (blood) lines become tangled, crossed, and inevitably bound to one another – even as the line diminishes."</i></p>
---
