---
layout: layouts/film.njk
title: "Microfronteras 1 2 (V2) reh."
authors:
  - name: Noah Travis Phillips
    instagram: th3n04h
    bio: ""
  - name: Jennifer Kitsune Lord
    instagram: ""
    bio: ""
navlogo: 🎥 Film
backgroundcolor: Light Gray
image: /img/films/microfronteras-1-2-v2-reh.jpg
artistStatement: Jennifer Lord and Noah Travis Phillips series 'Microfronteras' explores the subtle convergence of aesthetics within the shared studio space of an artist couple. Blurring the boundary between natural and artistic phenomena, the video abstracts everyday studio imagery through magnification, motion, and layered editing. Scenes discovered in each artist's side of the space become a shifting dialogue—highlighting the interstitial frontiers between their practices. The video juxtaposes together elements of textile, drawing, print, and painting, revealing how proximity and collaboration generate new aesthetic and emotional terrains. 'Microfronteras' reflects on intimacy, difference, and the quiet negotiations that shape shared environments.
year:
  - "2025"
---
