---
layout: layouts/base.njk
title: "Microfronteras 1 2 (V2) reh."
description: "Noah Travis Phillips, Jennifer Kitsune Lord"
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /microfronteras-1-2-v2-reh/
image: /img/films/microfronteras-1-2-v2-reh.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/microfronteras-1-2-v2-reh.jpg" alt="Microfronteras 1 2 (V2) reh. film still" class="post-hero installation-hero">
    </br>
        <p>Jennifer Lord and Noah Travis Phillips series 'Microfronteras' explores the subtle convergence of aesthetics within the shared studio space of an artist couple. Blurring the boundary between natural and artistic phenomena, the video abstracts everyday studio imagery through magnification, motion, and layered editing. Scenes discovered in each artist’s side of the space become a shifting dialogue—highlighting the interstitial “frontiers” between their practices. The video juxtaposes together elements of textile, drawing, print, and painting, revealing how proximity and collaboration generate new aesthetic and emotional terrains. 'Microfronteras' reflects on intimacy, difference, and the quiet negotiations that shape shared environments.</p>
        </br>

        <span>Noah Travis Phillips</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/th3n04h/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a> &  <span>Jennifer Kitsune Lord</span>
        </br>

    
  </div>
  </br></br>
</div>
