---
layout: layouts/film.njk
title: Moving at the Speed of Thought
authors:
  - name: Amy Collado
    instagram: amycollado
    bio: "Amy Collado is a Brooklyn bred creative producer, brand founder, tenant organizer, filmmaker, and philanthropist. In 2015 she founded Butter Roll, a roller skate brand and social enterprise focused on BIPOC wellness through art, skating and social justice causes. She also launched Honor Roll in March 2022, a skate initiative offering discounts to NYC students ages 12-17. In 2021, she founded The Shop, a brick and mortar Roller Skate and vinyl record store in Ridgewood. Amy currently lives in Ridgewood Queens with her life and business partner Suce, and cat named Beats."
navlogo: 🎥 Film
backgroundcolor: Light Gray
image: /img/films/moving-at-the-speed-of-thought.jpg
artistStatement: An experimental film about memories and resiliency. A 40 year gap between Operation Move-In in 1970 and Operation Stay aka Cancel Rent in 2020 through the lens of a tenant organizer/film maker.
---
