---
layout: layouts/base.njk
title: Moving at the Speed of Thought
description: Amy Collado
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /moving-at-the-speed-of-thought/
image: /img/films/moving-at-the-speed-of-thought.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/moving-at-the-speed-of-thought.jpg" alt="moving still" class="post-hero installation-hero">
    </br>
    <p>"An experimental film about memories and resiliency. A 40 year gap between "Operation Move-In" in 1970 and Operation Stay aka Cancel Rent in 2020 through the lens of a tenant organizer/film maker."</p>
    </br>
    <span>-- Amy Collado</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/amycollado" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Amy “Amz” Collado is a Brooklyn bred creative producer, brand founder, tenant organizer, filmmaker, and philanthropist.</p>
    <p>In 2015 she founded Butter Roll, a roller skate brand and social enterprise focused on BIPOC wellness through art, skating and social justice causes. Since then, she's created a one-of-a-kind mutual aid fund called Butter Roll Community Fund that offers sponsorships for local skate events and reimbursements to NYC roller skaters. She also launched Honor Roll in March 2022, a skate initiative offering discounts to NYC students ages 12-17.</p>
    <p>Her community and creative work have supported her passion for advocacy, empowerment and wellness. As an organizer of 7+ years, Amy has supported and formed tenant associations/cohorts throughout Queens, fighting alongside them for better quality of life. She's set to revamp BHIP: Bushwick Housing Independence Project Spring 2023 as an organizing consultant helping to serve the Bushwick community's low-income housing needs. Her organizing experience has helped shape her skate brand Butter Roll's purpose, grounding it in community care and innovation in a conscious and equitable way.</p>
    <p>In 2021, she founded The Shop, a brick and mortar Roller Skate and vinyl record store in Ridgewood through a successful community investment campaign of over 150 local/BIPOC investors. And in 2022, she was commissioned by The Center for Cultural Power to produce an experimental short film on the subject of Care Economics called “Moving at The Speed of Thought” which featured original scoring by a local music producer as well as archival footage from Third World Newsreel.</p>
    <p>Amz took part in Eventbrite's inaugural Creative Collective Cohort of 2022, and has been featured in ABC's Localish, NIKE, Eastbay/Champs, MSG's Short Doc series for women's history, Orbit Gum, Impala, Latina Mag, Latino USA and more.</p>
    <p>Amy currently lives in Ridgewood Queens with her life and business partner Suce, and cat named Beats.</p>
    </br>
  </div>
