---
layout: layouts/base.njk
title: MY UNCLE WAS EL SANTO
description: Jorge Vivero Gómez
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /my-uncle-was-el-santo/
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/my-uncle-was-el-santo.jpg" alt="santo still" class="post-hero installation-hero">
    </br>
    <p>"This project was very challenging for me because I spent too many days facing a blank page. I always wanted to write a comedy in this format, relating icons of Mexican culture with everyday situations."</p>
    </br>
    <span>-- Jorge Vivero Gómez</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/tanchidas/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Jorge is a director, writer, photographer, singer and illustrator from León, Mexico. He studied Communication at the Universidad Iberoamericana León, was an assistant camera for the documentary “Nowhere Bastards”, winner of the Identity and Belonging contest at the Guanajuato International Film Festival 2018 and was selected at the 25th Palm Springs International ShortFest, among other festivals. This motivated him to found the production company TANCHIDAS, where he has directed various music videos and documentaries.</p>
    </br>
  </div>
