---
layout: layouts/film.njk
title: "O, Private Property!"
description: "Nata Aguilar"
authors:
  - name: Nata Aguilar
    instagram: sp00n_licker
    bio: ""
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /o-private-property/
image: /img/films/o-private-property.jpg
body: '<p><i>"A video series of private properties in New Mexico."</i></p>'
---
