---
layout: layouts/film.njk
title: "O, Private Property!"
authors:
  - name: Nata Aguilar
    instagram: sp00n_licker
    bio: ""
navlogo: emojianim
backgroundcolor: F5F5F5
image: /img/films/o-private-property.jpg
artistStatement: A video series of private properties in New Mexico.
---
