---
layout: layouts/film.njk
title: "O, Private Property!"
authors:
  - name: Nata Aguilar
    instagram: sp00n_licker
    bio: ""
navlogo: 🎥 Film
backgroundcolor: Light Gray
image: /img/films/o-private-property.jpg
artistStatement: A video series of private properties in New Mexico.
year:
  - "2025"
---
