---
layout: layouts/film.njk
title: "Oh, Are You One, Too?"
description: "Karl Erickson"
authors:
  - name: Karl Erickson
    instagram: ""
    bio: ""
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /oh-are-you-one-too/
image: /img/films/oh-are-you-one-too.jpg
body: <p><i>"Letters, like lost children, try to find connections across boundaries and differences. They call out their individual letter names, coming together in a raucous, cacophonous song urging all weirdos to come together.</i></p><p><i>The animation is made by mashing together 3D models of children, letters, and numbers. The characters are animated with motion-capture data, and manipulated and assembled inside of Touchdesigner."</i></p>
---
