---
layout: layouts/film.njk
title: "Pan-terrestrial People's Anthem"
authors:
  - name: Andrew Demirjian
    instagram: silentpatterns
    bio: "Andrew Demirjian builds linguistic, sonic and visual environments that disrupt habituated ways of reading, hearing and seeing. His interdisciplinary artistic practice examines structures that shape consciousness and perception. In the fall of 2023 Andrew was awarded a Smithsonian Artist Research Fellowship with the Cooper Hewitt Museum, and has received two MacDowell Fellowships. Andrew teaches in the Film and Media Department and the Integrated Media Arts MFA program at Hunter College."
navlogo: emojianim
backgroundcolor: F5F5F5
image: /img/films/pan-terrestrial-peoples-anthem.jpg
artistStatement: |
  Music, lyrics and design are frequently enlisted to strengthen emotional bonds to the nation state with national anthems and flags. Pan-terrestrial People's Anthem inverts this relationship and uses sound, lyrics and imagery to disentangle one's connection to a nation and notions of fixed borders. Pan-terrestrial People's Anthem is a collection of video poems constructed entirely from remixing the music and lyrics of 195 national anthems and their corresponding flags.

  This piece uses the final notes of dozens of anthems and combines these sonic fragments with the last lyrical phrases of anthems. The visuals are created through algorithmically remixing 195 national flags.
---
