---
layout: layouts/base.njk
title: "Pan-terrestrial People's Anthem"
description: "Andrew Demirjian"
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /pan-terrestrial-peoples-anthem/
image: /img/films/pan-terrestrial-peoples-anthem.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/pan-terrestrial-peoples-anthem.jpg" alt="Pan-terrestrial People's Anthem film still" class="post-hero installation-hero">
    </br>
    <p><i>"Music, lyrics and design are frequently enlisted to strengthen emotional bonds to the nation state with national anthems and flags. Pan-terrestrial People's Anthem inverts this relationship and uses sound, lyrics and imagery to disentangle one's connection to a nation and notions of fixed borders. Pan-terrestrial People's Anthem is a collection of video poems constructed entirely from remixing the music and lyrics of 195 national anthems and their corresponding flags.</i></p>
    <p><i>This piece uses the final notes of dozens of anthems and combines these sonic fragments with the last lyrical phrases of anthems. The visuals are created through algorithmically remixing 195 national flags."</i></p>
    </br>

    <span>-- Andrew Demirjian</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/silentpatterns/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>

    <p>Andrew Demirjian builds linguistic, sonic and visual environments that disrupt habituated ways of reading, hearing and seeing. His interdisciplinary artistic practice examines structures that shape consciousness and perception, questioning frameworks that support the status quo and limit thought. The works are often presented in non-traditional spaces and take the form of multi-channel audiovisual installations, generative artworks, video poems, augmented reality apps, and live performances.</p>
    <p>In the fall of 2023 Andrew was awarded a Smithsonian Artist Research Fellowship with the Cooper Hewitt Museum, he has also received two MacDowell Fellowships and three New Jersey State Council on the Arts Grants. Andrew's work has been exhibited at The Museum of the Moving Image, The New Museum – First Look: New Art Online, Fridman Gallery, Eyebeam, The Arab American National Museum, the Ford Foundation Gallery, REDCAT, Transformer Gallery, the Center for Book Arts, Locust Projects, The Newark Museum and many other galleries, festivals and museums. His work has been supported by the MIT Open Documentary Lab, Nokia Bell Labs, Puffin Foundation, Artslink, Harvestworks, Rhizozme, Diapason, The Experimental Television Center, LMCC, and The Bemis Center. Andrew teaches theory and production courses in emerging media in the Film and Media Department and the Integrated Media Arts MFA program at Hunter College.</p>

  </div>
  </br></br>
</div>
