---
layout: layouts/base.njk
title: Pick
description: Shahoo Ahmadi
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /pick/
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/pick.jpg" alt="santo still" class="post-hero installation-hero">
    </br>
    <p>"This movie deals with communal life and peace between people.</p>
    <p>These five actors of my film could be the five continents of the earth who are friends and make life easy for each other.</p>
    <p>These days, I have taken the path of filmmaking to discover the small moments of life and the simple and everyday human connection with the environment, which is full of deep human concepts. Storytelling on these topics is incredibly magical to me, and adding a personal perspective is something I like to do in my films.</p>
    <p>So the short film is an effort of me and what I discovered and felt is an effort."</p>
    </br>
    <p>-- Shahoo Ahmadi</p>
    </br>
  </div>
