---
layout: layouts/base.njk
title: Returnal
description: Santino Gonzales
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /returnal/
image: /img/films/returnal.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/returnal.jpg" alt="returnal still" class="post-hero installation-hero">
    </br>
    <p>"The dirt back home had a heartbeat, so we packed it in the car and brought it with us. We amplified it, broadcasting out into space. Air filled with static and every night, we dreamt of traveling across the earth to see each other, boundless. The noise promised sleep, as if it too remembered what it was like to run through the backyard. Like a circuit or a feedback loop, it always seemed to return home.</p>
    <p>If the radio can do it, why can't we?</p>
    <p>When I made this piece, I'd been thinking deeply about my family home in Los Lunas, New Mexico, a place I hadn't been able to visit at the time because of the coronavirus pandemic. When I was last there, my father and I made adobe bricks with dirt from my family's backyard, and I brought them with me to California.</p>
    <p>I documented three of these bricks across the San Francisco Bay Area, where I currently live, each connected with a contact microphone to a radio transmitter. Three repeating videos reveal currents of static humming from the adobe, the transmission waves slowly ebbing and flowing. The earth's raw material and the broadcasted sound's immaterial quality merge, pulsing through space and time, forming a circuit of return."</p>
    </br>
    <span>-- Santino Gonzales</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/tino_ufo/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Santino Gonzales is a multidisciplinary artist from Los Lunas, New Mexico. Moved by the landscape of his childhood, Tino uses ufology, adobe, and radio to investigate cultural attitudes around the fear of alienation and the desire for connection. Lately, Tino has been exploring how these interests relate to ideas about home.</p>
    <p>Gonzales received his BFA from the University of New Mexico and his MFA from California College of the Arts. He's a recipient of the Dedalus Foundation Fellowship, and currently works with the Interpretive Media team at the San Francisco Museum of Modern Art. Tino also composes and performs improvisational ambient music, floating between the SF Bay Area and the high desert of New Mexico.</p>
    </br>
  </div>
