---
layout: layouts/base.njk
title: Santa Fe Resident
description: Terry Ngo
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /santa-fe-resident/
image: /img/films/santa-fe-resident.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
      <div style="position:relative;">
        <img src="/img/films/2nd-best-film.png" alt="2nd best film" class="top-right-corner">
        <img src="/img/films/santa-fe-resident.jpg" alt="santa fe still" class="post-hero installation-hero">
      </div>
    </br>
    <p>"I participated in the inaugural "Neighborhood Historian" project, which is now called "Community Storytellers." It is a collaboration between The Santa Fe Public Library and the non-profit interdisciplinary community art organization called Little Globe. It was through this cohort that the making of Santa Fe Resident came about.  The focus of the film "Santa Fe Resident" was to have my mom, an oceanic refugee (a.k.a part of the "boat people") to tell her journey to America from Vietnam and how she came to be in Santa Fe."</p>
    </br>
    <span>-- Terry Ngo</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/terry_ngostofocik/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Terry Ngo is a local Asian female filmmaker based out of Santa Fe, NM.  Her short films include Santa Fe Resident, good enough, Thread, and Granny Boot Camp.  Granny Boot Camp won "Best Comedy" at the Madrid Film Festival.  It also was nominated for "Best Short Film" at the Viet Film Fest.  Her film Santa Fe Resident Too is a sequel to Santa Fe Resident, that is being financed by The Santa Fe Opera and is proud recipient of the NMWIF Finishing Funds Grant.</p>
    </br>
  </div>
