---
layout: layouts/film.njk
title: Telemetry
description: Timothy Nohe
authors:
  - name: Timothy Nohe
    instagram: timothy.nohe
    bio: Timothy Nohe is an artist, composer, and educator engaging traditional and electronic media in civic life and public places. His work has focused on sustainability and place, as well as musical and video works for dance and live performance. Nohe has presented his work in a range of venues including IMPAKT, Utrecht; the Louvre Museum; Centre Pompidou; ISEA; Ars Electronica; the Baltimore Museum of Art; the Smithsonian Institution; and the Kennedy Center for the Performing Arts. He was the recipient of a 2006 Australian–American Fulbright Commission Senior Scholar Award.
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /telemetry/
image: /img/films/telemetry.jpg
body: '<p><i>"Telemetry (2025) video and audio synthesis, Wobbulator, archival sound, and Apollo 9 film footage."</i></p>'
---
