---
layout: layouts/film.njk
title: The Dream of Being Free
authors:
  - name: Sasan Golfar
    instagram: sasangolfar
    bio: Sasan Golfar, born in Tehran, July 1970, is an Iranian Journalist, film critic, writer and translator.
navlogo: 🎥 Film
backgroundcolor: Light Gray
image: /img/films/the-dream-of-being-free.jpg
artistStatement: We are all craving for freedom, the same as a cat who seeks freedom and wishes to pass all boundaries and borders, but isn't it the insidious fear that hinders us from being free? This is a simple question I always want to ask. Maybe this is the question for a cat, who is pondering about philosophy of life and freedom in The Dream of Being Free - the first film of a short trilogy called Beauty, Love, Freedom.
year:
  - "2023"
---
