---
layout: layouts/base.njk
title: The Dream of Being Free
description: Sasan Golfar
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /the-dream-of-being-free/
image: /img/films/the-dream-of-being-free.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/the-dream-of-being-free.jpg" alt="being free still" class="post-hero installation-hero">
    </br>
    <p>"We are all craving for freedom, the same as a cat who seeks freedom and wishes to pass all boundaries and borders, but isn't it the insidious fear that hinders us from being free? This is a simple question I always want to ask. Maybe this is the question for a cat, who is pondering about philosophy of life and freedom in "The Dream of Being Free" - the first film of a short trilogy called: "Beauty, Love, Freedom."</p>
    </br>
    <span>-- Sasan Golfar</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/sasangolfar/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Sasan Golfar, born in Tehran, July 1970, is an Iranian Journalist, film critic, writer and translator.</p>
    </br>
  </div>
