---
layout: layouts/base.njk
title: The Darkest Place
description: Jay Renteria, Ryan Lewis, Alonso Indacochea
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /the-darkest-place/
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <iframe width="80%" height="315" src="https://www.youtube.com/embed/U6rcBOWV3h8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </br>
    <p>"We shot this short documentary on the U.S.-México border, in the International Dark Sky Reserve primarily within Big Bend National Park. We were inspired by a paradox we observed — the very real impact national borders have on people, living things and the natural landscape of the region, and the tangible artificiality of the border in the face of the capaciousness of the night sky."</p>
    </br>
    <span>-- Jay Renteria, Ryan Lewis, and Alonso Indacochea</span><a name="instagram link" class="artist-insta" href="https://instagram.com/waveofdust" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Jay Renteria, Ryan Lewis, and Alonso Indacochea are filmmakers and members of the Dust Wave film collective.</p>
    </br>
  </div>