---
layout: layouts/film.njk
title: The Birch Tree
authors:
  - name: Sundae
    instagram: theplayground.powder
    bio: Sundae is Australian-based photographer, short film and music video creator. She incorporates a unique style that is derived from her love of shooting black and white experimental photography and production knowledge to create visual short stories and music videos.
navlogo: emojianim
backgroundcolor: F5F5F5
image: /img/films/the-birch-tree.jpg
body: ""
---
