---
layout: layouts/film.njk
title: The New Colossus
description: Dusty Deen
authors:
  - name: Dusty Deen
    instagram: dustydeen
    bio: Dusty Deen is an American animator and filmmaker. His vibrant creations have been featured on screens and in galleries worldwide. His abstract representations are often emotive and psychedelic, brought to life with an animation process that marries timeless techniques with modern technology. He lends his unique style to films, documentaries, music videos, and more. See it all at <a href="https://dustydeen.com" target="_blank">dustydeen.com</a>
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /the-new-colossus/
image: /img/films/the-new-colossus.jpg
body: <p><i>"America is fucked up right now."</i></p>
---
