---
layout: layouts/base.njk
title: The Birch Tree
description: Sundae
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /the-birch-tree/
image: /img/films/the-birch-tree.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/the-birch-tree.jpg" alt="birch tree still" class="post-hero installation-hero">
    </br>
    <span>Sundae</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/theplayground.powder/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Sundae is Australian-based photographer, short film and music video creator.</p>
    <p>She incorporates a unique style that is derived from her love of shooting black and white experimental photography and production knowledge to create visual short stories and music videos.</p>
    </br>
  </div>
