---
layout: layouts/base.njk
title: The New Colossus
description: Dusty Deen
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /the-new-colossus/
image: /img/films/the-new-colossus.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/the-new-colossus.jpg" alt="The New Colossus film still" class="post-hero installation-hero">
    </br>
    <p><i>"America is fucked up right now."<i></p>
    </br>
    <span>-- Dusty Deen</span><a name="instagram link" class="artist-insta" href="https://instagram.com/dustydeen" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Dusty Deen is an American animator and filmmaker. His vibrant creations have been featured on screens and in galleries worldwide. His abstract representations are often emotive and psychedelic, brought to life with an animation process that marries timeless techniques with modern technology.</p>
    <p>He lends his unique style to films, documentaries, music videos, and more.</p>
    <p>See it all at <a href="https://dustydeen.com" target="_blank">dustydeen.com</a></p>
  </div>
  </br></br>
</div>
