---
layout: layouts/film.njk
title: The Darkest Place
authors:
  - name: Jay Renteria, Ryan Lewis, and Alonso Indacochea
    instagram: waveofdust
    bio: Jay Renteria, Ryan Lewis, and Alonso Indacochea are filmmakers and members of the Dust Wave film collective.
navlogo: 🎥 Film
backgroundcolor: Light Gray
image: /img/films/the-darkest-place.jpg
artistStatement: We shot this short documentary on the U.S.-México border, in the International Dark Sky Reserve primarily within Big Bend National Park. We were inspired by a paradox we observed — the very real impact national borders have on people, living things and the natural landscape of the region, and the tangible artificiality of the border in the face of the capaciousness of the night sky.
year:
  - "2023"
---
