---
layout: layouts/film.njk
title: They Came From Planet X
authors:
  - name: Brandon Carter
    instagram: cartercinema
    bio: Brandon Carter is a lifelong fan of movies, music, artists, and art. He studied Digital Filmmaking at Eastern New Mexico University and has worked as a Locations Assistant, a Newscast Director, and a Multimedia Specialist for Animal Humane New Mexico in Albuquerque. Brandon continues to collaborate on long-form and short-form creative projects with the <a href="https://dustwave.xyz" target="_blank">Dust Wave</a> filmmaking collective and his partner Camille as part of <a href="https://www.instagram.com/spaceagedaydreamfilms" target="_blank">Space Age Daydream.</a>
navlogo: 🎥 Film
backgroundcolor: Light Gray
image: /img/films/they-came-from-planet-x.jpg
artistStatement: Made in the style of a farcical wartime propaganda film, They Came From Planet X takes modern xenophobia juxtaposed against science fiction imagery and pokes fun at the fear of foreign invaders. This short was made specifically for Fronteras with the hope of exploring the festival's important themes while experimenting with the look and tone of older sci-fi serials and propaganda films.
---
