---
layout: layouts/film.njk
title: This Border
authors:
  - name: Richard Malcolm
    instagram: RICARDO.66BLUES
    bio: "Richard Malcolm is primarily a still photographer. Born in East Los Angeles, he studied photography, journalism, and psychology at Rio Hondo College. Early influences included his father, Rex Malcolm, who took photographs for educational media, and his grandfather, Roy Bowler, who worked with bellows cameras and Polaroids. In the 21st century, he has worked mostly with digital media."
navlogo: emojianim
backgroundcolor: F5F5F5
image: /img/films/this-border.jpg
artistStatement: |
  I learned of the Fronteras project as I was leaving on a musical/photographic road trip that would end up at the US-Mexico border near Big Bend, where I had visited recently and wanted to return. I was intrigued by the beauty and serenity of this rural land, and by the barricade-free border, especially in contrast to the intensity of border towns, and the media hype surrounding border issues.

  Having followed the border itself -- as defined by the narrow, shallow Rio Grande -- I envisioned what it might be like for desperate travelers approaching specifically this area from the Mexico side. I thought of stories I had heard (from Mexico) in which the setting of the sun represented a crack between worlds and opportunity for transformational travel.

  With thousands of droning highway miles in which to envision the project, two days available for shooting, and two days available for post-production after arriving home, I centered the concept around the spectacular sunsets I was sure I would find along the border.

  Like a traveler who must change course in response to unexpected obstacles, I moved forward with the imagery I had. (All images in the film were shot in late April 2023 at/near the border).

  The serpent—which somehow telegraphed its presence to me as it moved quietly toward the river—provided a reminder to maintain focus on the moving lines on the ground as well as the skies above.
---
