---
layout: layouts/base.njk
title: This Border
description: Richard Malcolm
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /this-border/
image: /img/films/this-border.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/this-border.jpg" alt="this border still" class="post-hero installation-hero">
    </br>
    <p>"I learned of the Fronteras project as I was leaving on a musical/photographic road trip that would end up at the US-Mexico border near Big Bend, where I had visited recently and wanted to return. I was intrigued by the beauty and serenity of this rural land, and by the barricade-free border, especially in contrast to the intensity of border towns, and the media hype surrounding border issues.</p>
    <p>Having followed the border itself -- as defined by the narrow, shallow Rio Grande -- I envisioned what it might be like for desperate travelers approaching specifically this area from the Mexico side. I thought of stories I had heard (from Mexico) in which the setting of the sun represented a crack between worlds and opportunity for transformational travel.</p>
    <p>With thousands of droning highway miles in which to envision the project, two days available for shooting, and two days available for post-production after arriving home, I centered the concept around the spectacular sunsets I was sure I would find along the border.</p>
    <p>Apparently, the deities of sunset were unimpressed by my status as Producer, Director, Cinematographer, etc.; they laughingly declined to provide the requisite sunsets. (It's still unclear which part they didn't get.)</p>
    <p>Like a traveler who must change course in response to unexpected obstacles, I moved forward with the imagery I had. (All images in the film were shot in late April 2023 at/near the border).</p>
    <p>The serpent—which somehow telegraphed its presence to me as it moved quietly toward the river—provided a reminder to maintain focus on the moving lines on the ground as well as the skies above."</p>
    </br>
    <span>-- Richard Malcolm</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/RICARDO.66BLUES/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Richard Malcolm is primarily a still photographer. Born in East Los Angeles, he studied photography, journalism, and psychology at Rio Hondo College, continuing various studies at NM Tech and NM Highlands University. Early influences included his father, Rex Malcolm, who took photographs for educational media, and his grandfather, Roy Bowler, who worked with bellows cameras and Polaroids, creating an extensive collection of photos from travels in the American West. Other personal influences have included conversations with Beaumont Newhall and with Gus Blaisdell.  Richard's first camera came at around age 10: a Kodak roll-film model made of plastic. In the 21st century, he has worked mostly with digital media.</p>
    <p>In his ancestral home of New Mexico, Richard integrated his love of the land with his love of the lens, gravitating toward landscapes and skyscapes, as well as performing arts (especially flamenco), and funky old cars and buildings. He worked in laser optics engineering, then in early interactive video projects for Wilson Learning and Santa Fe Interactive.</p>
    <p>Aside from private collections, Richard's work has appeared at juried shows at Guadalupe Fine Art (Santa Fe) and the Museum of the Horse (Ruidoso Downs), and been published by the NEA, abqARTS Magazine, Wikipedia, and the Lincoln County Chamber of Commerce. He has had invitational solo shows at North Fourth Art Center (related to their Two Worlds Series and Global DanceFest), and a group show at Tortuga Gallery.  A number of images are displayed at Flamenco Works in downtown Albuquerque.</p>
    <p>Richard also has significant history as a social worker and a blues-influenced musician.</p>
    </br>
  </div>
