---
layout: layouts/film.njk
title: "(U+1F4BB)_OpenField"
authors:
  - name: Sebastián Mira
    instagram: ""
    bio: ""
navlogo: 🎥 Film
backgroundcolor: Light Gray
image: /img/films/u1f4bb_openfield.jpg
artistStatement: |
  (U+1F4BB) is a series of videos depicting a group of laptops playing fantasies of spatial occupation in computerized landscapes in which other laptops are the sovereign explorers of Everything's virtual terrains. Their journeys are accompanied by a generative sound piece of cybernetic ambient noise, along with a series of subtitled narratives that allude to conquest chronicles in "exotic lands", which recall the pre-colonial and domestication history in the Americas.

  *(U+1F4BB) is the name given to a personal computer or laptop in the Unicode code system, and is usually used to refer to digital labors.
year:
  - "2025"
---
