---
layout: layouts/film.njk
title: Untitled Indigenous Film
authors:
  - name: Samuel Shorty
    instagram: samtheman421
    bio: Samuel Shorty is an indigenous filmmaker who is studying Film and Digital Arts with a Minor in Arts Leadership and Business. He is interested in the intersection between identity and digital representations of diverse groups.
navlogo: emojianim
backgroundcolor: F5F5F5
image: /img/films/untitled-indigenous-film.jpg
artistStatement: In this film, I wanted to explore how indigenous identity is represented in media. Often, we traditional media doesn't show any of these ideas of how life is experienced by an urban Native American person. As a result, I created a film that explored my own understanding of land, culture, and history.
---
