---
layout: layouts/base.njk
title: Untitled Indigenous Film
description: Samuel Shorty
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /untitled-indigenous-film/
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/untitled-indigenous-film.jpg" alt="untitled indigenous still" class="post-hero installation-hero">
    </br>
    <p>"In this film, I wanted to explore how indigenous identity is represented in media. Often, we traditional media doesn't show any of these ideas of how life is experienced by an urban Native American person. As a result, I created a film that explored my own understanding of land, culture, and history."</p>
    </br>
    <span>-- Samuel Shorty</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/samtheman421/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Samuel Shorty is an indigenous filmmaker who is studying Film and Digital Arts with a Minor in Arts Leadership and Business. He is interested in the intersection between identity and digital representations of diverse groups.</p>
    </br>
  </div>
