---
layout: layouts/base.njk
title: Who Were These Privileged Men?
description: Harrison C. Sim
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /who-were-these-privileged-men/
image: /img/films/who-were-these-privileged-men.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/who-were-these-privileged-men.jpg" alt="privileged men still" class="post-hero installation-hero">
    </br>
    <p>"Who Were These Privileged Men? is a satirical look at the fear-mongering perpetuated by rightwing media against refugees and the undocumented, using archival footage spanning from contemporary Fox News propaganda to a pro-immigration documentary from the 1960s. Harrison is honored to be included in Fronteras and believes every human deserves shelter, sustenance, safety, and the opportunity to pursue happiness."</p>
    </br>
    <span>-- Harrison C. Sim</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/harrisonsim/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Harrison C. Sim is a writer, director, and editor based in Albuquerque, New Mexico. Sim's background includes a stint as a professional actor, writing and directing film and theatre, and an MFA from UCLA in screenwriting. After grinding in unscripted television for two years in Los Angeles, Sim recently returned to Albuquerque to direct a documentary about New Mexico's cannabis industry.</p>
    </br>
  </div>
