---
layout: layouts/film.njk
title: Who Were These Privileged Men?
authors:
  - name: Harrison C. Sim
    instagram: harrisonsim
    bio: Harrison C. Sim is a writer, director, and editor based in Albuquerque, New Mexico. Sim's background includes a stint as a professional actor, writing and directing film and theatre, and an MFA from UCLA in screenwriting. After grinding in unscripted television for two years in Los Angeles, Sim recently returned to Albuquerque to direct a documentary about New Mexico's cannabis industry.
navlogo: 🎥 Film
backgroundcolor: Light Gray
image: /img/films/who-were-these-privileged-men.jpg
artistStatement: Who Were These Privileged Men? is a satirical look at the fear-mongering perpetuated by rightwing media against refugees and the undocumented, using archival footage spanning from contemporary Fox News propaganda to a pro-immigration documentary from the 1960s. Harrison is honored to be included in Fronteras and believes every human deserves shelter, sustenance, safety, and the opportunity to pursue happiness.
year:
  - "2023"
---
