---
layout: layouts/base.njk
title: You Came First
description: Alonso Indacochea
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /you-came-first/
image: /img/films/you-came-first.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <iframe width="315" height="560" src="https://www.youtube.com/embed/xKsPuJi0mFM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </br>
    <p>"In the spirit of agitprop of the past, I wanted to drive home an important, seldom-discussed piece of the debate around U.S.-México border crossings -- the impact of American foreign intervention on migration worldwide."</p>
    </br>
    <span>-- Alonso Indacochea</span><a name="instagram link" class="artist-insta" href="https://instagram.com/alonso_inda" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </br>
    <p>Alonso is a filmmaker, technology entrepreneur, and co-founder of the Dust Wave film collective. He is a proud Peruvian immigrant and speaks English, Spanish, and Portuguese. He married a <i>gringa</i> with whom he raises three kids, a rambunctious dog and two guinea pigs.</p>
    </br>
  </div>
