<div class="footercontainer">
  <div class="footergrid">
    <div>
      <img alt="profile picture" class="pfp" src="/img/logo_square.png"/>
      <h1>//</h1>
      <hr>
      <p>The Fronteras Micro-film Festival is a festival and exhibition created to provoke public conversation about national borders. Our film selections address themes of surveillance, enforcement, and crossings.</p>
      <ul>
        <li>
          <a href="/faq/">More info</a>
        </li>
      <li>
          <a href="mailto:info@fronterasmicrofilm.com">Email</a>
        </li>

      </ul>
      {# <div class="socialjunk">
        <a name="vimeo link" class="socialicon" href="/"><i class="fab fa-vimeo-v"></i></a>
      </div> #}
    </div>
    <div class="morelinks"> 
      <h1 class="mobile-h1">Other Links</h1>
      <hr>
      <ul>
        <li>
          <a href="/privacy/">Privacy Policy</a>
        </li>
        <li>
          <a href="/rules/">Official Rules</a>
        </li>
        <li>
          <a href="http://dustwave.xyz" target="_blank">Dust Wave Film Collective</a>
        </li>
        <li>
          <a href="https://www.youtube.com/@dustwavecollective">Dust Wave YT Channel</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<h1 style="background:none; margin:100px auto 100px;" class="heading">Fronteras Micro-film Festival</h1>
<center><p style="width:960px; max-width:95vw;">(ɔ) Dust Wave 👋👋👋</p></center>
<center><p style="width:960px; max-width:95vw;">Design based on an <a href="https://www.11ty.dev/" target="_blank">Eleventy</a> <a href="https://github.com/victoriadouglas/BLACKBIT" target="_blank">template</a> by <a href="https://blackbit.world/" target="_blank">Victoria Douglas</a></p></center>