---
layout: layouts/base.njk
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="{{ image }}" alt="{{ title }} film still" class="post-hero installation-hero">
    </br>
    {{ body | safe }}
    {% if authors %}
    {% for author in authors %}
    {% if author.bio %}
    </br>
    <p>{{ author.bio | safe }}</p>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  </br></br>
</div>
