---
layout: layouts/base.njk
---
<main>
<div class="container">
{% if image %}
<img src="{{ image }}" alt="{{ title }}" class="post-hero" style="background: black; padding: 10px;" fetchpriority="high">
{% elif thumbnail %}
<img style="max-width: 100%" src="{{ thumbnail }}" alt="" loading="lazy" decoding="async"/>
{% endif %}
<h1 class="mobile-h1" style="margin-bottom:0;">{{ title }}</h1>
{# <p style="margin:0 0 30px;"><small>{{ description }}</small></p> #}
<p style="margin:0 0 30px;"><small>{{ date }}</small></p>
<hr>

{{ content | safe }}
<div style="height:150px;"></div>
<p><a href="{{ '/' | url }}">← Home</a></p>
<p><a href="{{ '/posts/' | url }}">Blog Archive</a></p>
</div>
<br/>
</main>
