@import "variables.scss";
@font-face {
  font-family: "Font-awesome";
  src: url("/fonts/fa-solid-900.ttf") format("ttf");
  src: url("/fonts/fa-regualr-400.ttf") format("ttf");
}

/* -------------------- Typography Treatments -------------------- */

@font-face {
  font-family: "Blackout";
  src: url("/webfonts/blackout_midnight-webfont.ttf");
}
@font-face {
  font-family: "Sega";
  src: url("/webfonts/Sega.TTF");
}

@font-face {
  font-family: "Geist-RND";
  src: url("/webfonts/GEIST_RND-webfont.woff");
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 4rem;
  letter-spacing: auto;
  padding-bottom: 0;
  margin-bottom: 10px;
}

h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: "Roboto Mono", monospace;
}

body {
  background-position: center bottom;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: 0.2sec;
}

a {
  text-decoration: none;
  color: $background-color;
  background-color: $line-color;
}

a:has(img) {
  background-color: transparent;
}

a:has(img):hover {
  background: none;
  opacity: .7;
  transition: .2s;
}

a:has(h1) {
  color: $line-color;
}

a:has(h1):hover {
  background: none;
  opacity: .7;
  transition: .2s;
}

a:hover {
  background-color: turquoise;
}

$halftone: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==");

@mixin stroke-width($property) {
  -webkit-text-stroke-width: $property;
  -moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
  -webkit-text-stroke-color: $property;
  -moz-text-stroke-color: $property;
}

@mixin background-clip($property) {
  -webkit-background-clip: $property;
  -moz-background-clip: $property;
  background-clip: $property;
}

@mixin fill-color($property) {
  -webkit-text-fill-color: $property;
  -moz-text-fill-color: $property;
}

.heading {
  font-family: Sega, arial, sans-serif;
  letter-spacing: 1vw;
  font-weight: 100;
  font-size: 8vw;
  margin-top: 1.5vw;
  line-height: 105%;
  margin-bottom: 0;
  background: none;
}

@media (min-width: 700px) {
  .heading {
    letter-spacing: 1rem;
    font-size: 4vw;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAF0lEQVQYlWNgYGD4D8U4AUEF1Af0dhMAOBcH+bmFHC0AAAAASUVORK5CYII=);
  }
}
@media (min-width: 1100px) {
  .heading {
    font-size: 5.65vw;
  }
}

figcaption {
  font-family: "Roboto Mono", monospace;
  color: black;
  text-align: center;
}

.small-caption figcaption {
  font-size: medium;
}

@media (min-width: 501px) {
  figcaption {
    font-size: xx-large;
  }
}

@media (max-width: 500px) {
  figcaption {
    font-size: inherit;
  }
}

@media (max-width: 500px) {
  .mobile-h1 {
    font-size: xx-large;
    margin-top: 65px;
  }
}

.blink-me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* -------------------- Accordion -------------------- */

$positive-circle   : #82d428;
$negative-circle   : #ff6e00;
$circle-gray       : #e4e4e4;
$header-black      : #242a32;
$background-color  : #6fcae7;
$tab-text          : #5d5d5d;
$white			       : #fff;
$reviews-text-black: #363636;
$white-light-gray  : #f9f9f9;

@mixin user-select() {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

@mixin chart($radius, $width) {
  .chart-pie {
    position: relative;
    display: inline-block;
    height: $radius;
    width: $radius;
    border-radius: 50%;
    background-color: $circle-gray;
    vertical-align: middle;
     
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: $radius - $width;
      width: $radius - $width;
      top: $width / 2;
      left: $width / 2;
      border-radius: 50%;
      background-color: $white;
    }
  }
  .chart-pie-count {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 44px;
    color: $header-black;
    text-align: center;
    z-index: 1;
  }
  .chart-pie > div {
    clip: rect(0, $radius, $radius, $radius / 2);
  }
  .chart-pie > div,
  .chart-pie.over50 .first-fill {
    position: absolute;
    height: $radius;
    width: $radius;
    border-radius: 50%;
  }
  .chart-pie.over50 > div {
    clip: rect(auto,auto,auto,auto);
  }
  .chart-pie.over50 .first-fill {
    clip: rect(0, $radius, $radius, $radius / 2);
  }
  .chart-pie:not(.over50) .first-fill {
      display: none;
  }
  .second-fill {
    position: absolute;
    clip: rect(0, $radius / 2, $radius, 0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-width: $width - 1;
    border-style: solid;
    box-sizing: border-box;
  }
  .chart-pie.positive {
    .first-fill {
      background-color: $positive-circle;
    }
    .second-fill {
      border-color: $positive-circle;
    }
  }
  .chart-pie.negative {
    .first-fill {
      background-color: $negative-circle;
    }
    .second-fill {
      border-color: $negative-circle;
    }
  }
}
body {
  background-color: $background-color;
  overflow-y: scroll;
  overflow-x: hidden;
}
#aspect-content {
  margin: 50px 0 0;
  font-family: "Poppins", sans-serif;
    * {
      box-sizing: border-box;
    }
}
.aspect-tab {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 10px;
  border-radius: 4px;
  background-color: $white-light-gray;
  box-shadow: 0 0 0 1px rgba(236,236,236,1);
  opacity: 1;
  transition: box-shadow .2s, opacity .4s;
  
  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .11);
  }
}
.aspect-input {
  display: none;
}
.aspect-input:checked ~ .aspect-content + .aspect-tab-content {
  max-height: 3000px;
}
.aspect-input:checked ~ .aspect-content:after {
    transform: rotate(0);
}
.aspect-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 80px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  z-index: 1;
  cursor: pointer;
  &:hover ~ .aspect-content:after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiM1NTZBRUEiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=');
  }
}
.aspect-content {
  position: relative;
  display: block;
  height: 80px;
  margin: 0;
  padding: 0 87px 0 30px;
  white-space: nowrap;
  cursor: pointer;
  @include user-select();
  &:before,
  &:after  {
    content: '';
    display: inline-block;
    vertical-align: middle;
  }
  &:before {
    height: 100%;
  }
  &:after {
    position: absolute;
    width: 24px;
    height: 100%;
    right: 30px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiNBOUFDQUYiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 750px) {

  .aspect-content {
  white-space: unset;
  }

}
.aspect-name {
  display: inline-block;
  width: 75%;
  margin-left: 16px;
  font-weight: 500;
  color: $header-black;
  white-space: normal;
  text-align: left;
  vertical-align: middle;
}
.aspect-stat {
  width: 40%;
  text-align: right;
}
.all-opinions,
.aspect-name {
  font-size: 14px;
  line-height: 22px;
}
.all-opinions {
  color: $tab-text;
  text-align: left;
}
.aspect-content + .aspect-tab-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s;
}
.aspect-content > div,
.aspect-stat > div {
  display: inline-flex;
}
.aspect-content > div {
  vertical-align: middle;
}
.positive-count,
.negative-count,
.neutral-count {
  display: inline-block;
  margin: 0 0 0 20px;
  padding-left: 26px;
  background-repeat: no-repeat;
  font-size: 13px;
  line-height: 20px;
  color: $reviews-text-black;
}
.positive-count {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiM3RUQzMjEiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDE4LjU3MWMtNC43MjYgMC04LjU3MS0zLjg0NS04LjU3MS04LjU3MSAwLTQuNzI2IDMuODQ1LTguNTcxIDguNTcxLTguNTcxIDQuNzI2IDAgOC41NzEgMy44NDUgOC41NzEgOC41NzEgMCA0LjcyNi0zLjg0NSA4LjU3MS04LjU3MSA4LjU3MXpNMjAgMTBjMCA1LjUxNC00LjQ4NiAxMC0xMCAxMFMwIDE1LjUxNCAwIDEwIDQuNDg2IDAgMTAgMHMxMCA0LjQ4NiAxMCAxMHpNNSAxMS40MjdhNSA1IDAgMCAwIDEwIDAgLjcxNC43MTQgMCAxIDAtMS40MjkgMCAzLjU3MSAzLjU3MSAwIDAgMS03LjE0MiAwIC43MTQuNzE0IDAgMSAwLTEuNDI5IDB6bTEuMDcxLTVhMS4wNzEgMS4wNzEgMCAxIDAgMCAyLjE0MyAxLjA3MSAxLjA3MSAwIDAgMCAwLTIuMTQzem03Ljg1OCAwYTEuMDcxIDEuMDcxIDAgMSAwIDAgMi4xNDMgMS4wNzEgMS4wNzEgMCAwIDAgMC0yLjE0M3oiLz4KPC9zdmc+Cg==');
}
.negative-count {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNGRjZFMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDE4LjU3MWMtNC43MjYgMC04LjU3MS0zLjg0NS04LjU3MS04LjU3MSAwLTQuNzI2IDMuODQ1LTguNTcxIDguNTcxLTguNTcxIDQuNzI2IDAgOC41NzEgMy44NDUgOC41NzEgOC41NzEgMCA0LjcyNi0zLjg0NSA4LjU3MS04LjU3MSA4LjU3MXpNMjAgMTBjMCA1LjUxNC00LjQ4NiAxMC0xMCAxMFMwIDE1LjUxNCAwIDEwIDQuNDg2IDAgMTAgMHMxMCA0LjQ4NiAxMCAxMHpNNSAxNC45OThhLjcxNC43MTQgMCAwIDAgMS40MjkgMCAzLjU3MSAzLjU3MSAwIDAgMSA3LjE0MiAwIC43MTQuNzE0IDAgMSAwIDEuNDI5IDAgNSA1IDAgMSAwLTEwIDB6bTEuMDcxLTguNTdhMS4wNzEgMS4wNzEgMCAxIDAgMCAyLjE0MiAxLjA3MSAxLjA3MSAwIDAgMCAwLTIuMTQzem03Ljg1OCAwYTEuMDcxIDEuMDcxIDAgMSAwIDAgMi4xNDIgMS4wNzEgMS4wNzEgMCAwIDAgMC0yLjE0M3oiLz4KPC9zdmc+Cg==');
}
.neutral-count {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNCQUMyRDYiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDE4LjU3MWMtNC43MjYgMC04LjU3MS0zLjg0NS04LjU3MS04LjU3MSAwLTQuNzI2IDMuODQ1LTguNTcxIDguNTcxLTguNTcxIDQuNzI2IDAgOC41NzEgMy44NDUgOC41NzEgOC41NzEgMCA0LjcyNi0zLjg0NSA4LjU3MS04LjU3MSA4LjU3MXpNMjAgMTBjMCA1LjUxNC00LjQ4NiAxMC0xMCAxMFMwIDE1LjUxNCAwIDEwIDQuNDg2IDAgMTAgMHMxMCA0LjQ4NiAxMCAxMHpNNS43MTQgMTEuNDI3YS43MTQuNzE0IDAgMSAwIDAgMS40MjloOC41NzJhLjcxNC43MTQgMCAxIDAgMC0xLjQyOUg1LjcxNHptLjM1Ny01YTEuMDcxIDEuMDcxIDAgMSAwIDAgMi4xNDMgMS4wNzEgMS4wNzEgMCAwIDAgMC0yLjE0M3ptNy44NTggMGExLjA3MSAxLjA3MSAwIDEgMCAwIDIuMTQzIDEuMDcxIDEuMDcxIDAgMCAwIDAtMi4xNDN6Ii8+Cjwvc3ZnPgo=');
}
.aspect-info {
  width: 60%;
  white-space: nowrap;
  &:before {
    content: '';
    display: inline-block;
    height: 44px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 750px) {
.aspect-info {
  white-space: unset;
  }
}

@include chart(44px, 4px);
.aspect-tab-content {
  background-color: black;
  text-align: inherit;
}
.sentiment-wrapper {
  padding: 24px 30px 30px;
  color: white;
}

.sentiment-wrapper p {
  max-width: 100%;
}

.sentiment-wrapper p a {
  text-decoration: underline;
}

.sentiment-wrapper > div {
  display: inline-block;
  width: 33.3%;
  max-width: 390px;
  padding: 0 5px;
  box-sizing: border-box;
  vertical-align: top;
  cursor: default;
}
.sentiment-wrapper > div > div {
  width: 100%;
  padding: 16px 24px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ececec;
  text-align: left;
}
.opinion-header {
  position: relative;
  width: 100%;
  margin: 0 0 24px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: $header-black;
  text-transform: capitalize;
}
.opinion-header > span:nth-child(2) {
  position: absolute;
  right: 0;
}
.opinion-header + div > span {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  color: $reviews-text-black;
}
@media screen and (max-width: 800px) {
  .aspect-label {
    max-height: 102px;
  }
  .aspect-content {
    height: auto;
    padding: 10px 87px 10px 30px;
    &:before {
      display: none;
    }
    &:after {
      top: 0;
    }
  }
  .aspect-content > div {
    display: flex;
    width: 100%;
  }
  .aspect-stat {
    margin-top: 10px;
    text-align: left;
  }
}
@media screen and (max-width: 750px) {
  .sentiment-wrapper > div {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .sentiment-wrapper > div:not(:first-child) {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  .aspect-label {
    max-height: 140px;
  }
  .aspect-stat > div {
    display: block;
    width: 100%;
  }
  .all-opinions {
    margin-bottom: 10px;
  }
  .all-opinions + div > span:first-child {
    margin: 0;
  }
}

/* -------------------- Page Accents -------------------- */

.signature {
  display: none;
}

.svgaccent {
  display: none;
  z-index: -5;
}

@media only screen and (min-width: 1050px) {
  .svgaccent {
    display: block;
    position: fixed;
    bottom: 30%;
    right: 1vw;
  }

  .signature {
    display: block;
    position: fixed;
    padding: 5px;
    transform-origin: left;
    transform: rotate(-90deg);
    bottom: 40%;
    left: 1.5vw;
    margin: 0;
    background-color: $translucent-grey;
    z-index: -5;
  }
}

.subtitle {
  border-bottom: 5px double $line-color;
  width: 100%;
  height: auto;
  margin: 10px auto 10px;
  margin-bottom: 0 auto 50px;
  font-style: italic;
  line-height: 0.5rem;
  p {
    padding-bottom: 0px;
  }
}

.subtitle2 {
  width: 100%;
  height: auto;
  margin: 30px auto 10px;
  margin-bottom: 0 auto 50px;
  font-style: italic;
  line-height: 0.5rem;
  p {
    padding-bottom: 0px;
  }
}

.subtitle3 {
  width: 100%;
  height: auto;
  margin: 10px auto 10px;
  margin-bottom: 0 auto 50px;
  font-style: italic;
  line-height: 0.5rem;
  p {
    padding-bottom: 0px;
  }
}

/* -------------------- Page Layouts -------------------- */

main {
  min-height: 70vh;
  max-width: 98vw;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

.container {
  width: 960px;
  max-width: 95vw;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

.footercontainer {
  max-width: 95vw;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

.comicpage {
  width: 1200px;
  max-width: 98vw;
  margin: 50px auto;
}

.bigcontainer {
  max-width: 90vw;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

.fullcontainer {
  width: 95;
  max-width: 98vw;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}
.datedisplay {
  padding: 0;
  margin: 0;
}
.imagecard {
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

/* -------------------- Button Styling -------------------- */
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1 {
  border: 3px solid $line-color;
  color: $line-color;
}

.btn-1e {
  overflow: hidden;
}

.btn-1e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: $line-color;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-1e:hover,
.btn-1e:active {
  color: white;
}

.btn-1e:hover:after {
  height: 260%;
  opacity: 1;
}

.btn-1e:active:after {
  height: 400%;
  opacity: 1;
}

/* -------------------- Index Styling -------------------- */

.blogsect {
  margin-top: 50px;
  display: grid;
  max-width: 95vw;
  grid-gap: 20px;
  grid-template-areas: "two" "one";
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  h1 {
    padding: 0;
    margin: 10px;
  }
  :nth-child(1) {
    grid-area: one;
  }
  :nth-child(2) {
    grid-area: two;
  }
  :nth-child(3) {
    grid-area: two;
  }
}

.blogsect2 {
  margin-top: 50px;
  display: grid;
  max-width: 95vw;
  grid-gap: 20px;
  grid-template-areas: "two" "one";
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  h1 {
    padding: 0;
    margin: 10px;
  }
  :nth-child(1) {
    grid-area: one;
  }
  :nth-child(2) {
    grid-area: two;
  }
  :nth-child(3) {
    grid-area: two;
  }
}

@media only screen and (max-width: 500px) {
  .blogsect {
    grid-template-areas: "one" "one";
  }
}
@media only screen and (max-width: 500px) {
  .blogsect2 {
    grid-template-areas: "one" "two";
  }
}
.animsect {
  margin: 0px auto;
  margin-top: 50px;
  display: grid;
  max-width: 95vw;
  grid-gap: 20px;
  grid-template-areas: "two" "one" "three";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  div:first-child {
    border: 3px solid $line-color;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  }
  div:last-child {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAF0lEQVQYlWNgYGD4D8U4AUEF1Af0dhMAOBcH+bmFHC0AAAAASUVORK5CYII=);
    background-size: 10px;
    height: 100px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    h1 {
      padding-left: 10px;
      color: $line-color;
    }
    h1:hover {
      color: white;
      background-color: $line-color;
      transition: 0.3s;
    }
  }
  h1 {
    padding: 0;
    margin: 0;
  }
  :nth-child(1) {
    grid-area: one;
  }
  :nth-child(2) {
    grid-area: two;
  }
  :nth-child(3) {
    grid-area: three;
  }
}

.vidwrap {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  iframe {
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.illustrationbutton {
  display: block;
  margin: 30px auto 30px;
  background: none;
  h1 {
    color: $line-color;
    position: absolute;
    margin: 10px;
    font-size: 3rem;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 1;
    background-color: white;
  }
  p {
    top: 150px;
    position: relative;
    color: $line-color;
  }
  img {
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  }
}

.illustrationbutton:hover {
  opacity: 0.7;
  transition: 0.3s;
  background: none;
}

@media only screen and (min-width: 700px) {
  .blogsect {
    grid-template-areas: "one two";
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto;
  }
}

@media only screen and (min-width: 960px) {
  .animsect {
    grid-template-areas: "one two" "one three";
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr auto;
  }
}

/* -------------------- Form Styling -------------------- */
textarea {
  vertical-align: middle;
  min-width: 300px;
  min-height: 100px;
}

button {
  font-family: "Roboto Mono",monospace;
  min-width: 75px;
  min-height: 40px;
  -webkit-appearance: none;
}

input {
  min-width: 250px;
}

.bars {
  background: url('/img/bars.svg') no-repeat center center / contain;
  content: url('/img/bars.svg');
}