---
layout: layouts/base.njk
title: FAQ
description: Close to everything you need to know about the festival.
navlogo: question
backgroundcolor: 40e0d0
permalink: /faq/
eleventyNavigation:
  key: FAQ
  order: 1

---

{% include "components/header.njk" %}



<div class="container">

  <div id="aspect-content">
    <div class="aspect-tab ">
      <input id="item-18" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-18" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <h2>What is this festival all about?</h2>
          </div>
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
            <p>Since 2020, <a href="http://dustwave.xyz" target="_blank">Dust Wave</a> has produced award-winning, no-budget short films. In the process, we've learned that shorts are often neglected by film festivals. Shorts are typically screened in two-hour blocks, trapping viewers and forcing a “reset” every few minutes. This format limits audience engagement and festival value for short filmmakers.</p>
            <p>The first goal of the Fronteras Micro-Film Festival is to re-imagine the short film festival. We will give filmmakers and audiences an experience that emerges from, and supports, short film. A strong theme and a decentralized viewing experience will make this possible.</p>
            <p>The second goal is to provoke public conversation about national borders. Dust Wave will solicit thirty second to three minute-long films, from local and international filmmakers, that address themes of borders, enforcement, and crossings. We will select twenty-five films for festival screening.</p>
            <p>Borders structure life for billions of people globally. Borders are also relevant to Dust Wave's members. We are a majority Latinx group, comprised of immigrants and non-immigrants who live near the U.S.-Mexico border. As such, we see around us the rising tide of nationalism and xenophobia. In shooting a recent project, a documentary on the <a href="https://www.darksky.org/our-work/conservation/idsp/reserves/" target="_blank">International Dark Sky Reserve</a> (IDSR) along the border, we were moved by the capaciousness of the natural world -- the boundless sky and desert. This ecosystem presents one vantage point that reveals national borders as recent, artificial, and intrusive artifacts.</p>
            <p>Fronteras will feature a series of <a href="/installations/">interactive installations</a> that speak to the border's artificiality and dire consequences upon life. Some installations will invoke unwanted stops in a migrant's journey, including border walls, detention centers and trailer transport. Others will conjure state surveillance apparatuses of cameras and guard posts. Visitors will be able to navigate the exhibit independently and at their own pace.</p>
          </div>
      </div>
    </div>
  </div>
  <div id="aspect-content">
    <div class="aspect-tab ">
      <input id="item-19" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-19" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <h2>When is the submission period?</h2>
          </div>
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
            <p>The Festival submission period begins on March 1, 2023, at 4:00 PM Mountain Standard Time and ends on May 2, 2023, at 11:59 PM Mountain Standard Time.</p>
          </div>
      </div>
    </div>
  </div>
  <div id="aspect-content">
    <div class="aspect-tab" id="categories">
      <input id="item-20" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-20" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <h2>Who is eligible to submit?</h2>
          </div>
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
            <p>The Festival is open to human beings of Earth eighteen (18) years of age or older at the time of submission.</p>
          </div>
      </div>
    </div>
  </div>
  <div id="aspect-content">
    <div class="aspect-tab" id="categories">
      <input id="item-21" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-21" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <h2>What is the submission fee?</h2>
          </div>
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
            <p>The submission fee is $11 USD.</p>
            <p>In rare circumstances, the submission fee can be waived due to proven financial need. To request a fee waiver, please contact <a href="mailto:info@fronterasmicrofilm.com">info@fronterasmicrofilm.com</a> with the subject line "Fee Waiver" for more information.</p>
          </div>
      </div>
    </div>
  </div>
  <div id="aspect-content">
    <div class="aspect-tab" id="categories">
      <input id="item-22" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-22" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <h2>How many submissions can a person make?</h2>
          </div>
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
            <p>Each person is limited to five (5) submissions for the Festival.</p>
            <p>Entrants may only use one email address to submit to the Festival.</p>
          </div>
      </div>
    </div>
  </div>
  <div id="aspect-content">
    <div class="aspect-tab" id="categories">
      <input id="item-23" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-23" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <h2>What are the submission categories?</h2>
          </div>
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
            <p>There are 3 categories:</p>
            <p><a href="/rules/#portrait">Portrait Films</a> must not exceed 60 seconds (1 minute) in length and must be submitted in 9:16 format.</p>
            <p><a href="/rules/#other">16:9 films</a> must not exceed 180 seconds (3 minutes) in length and must be submitted in 16:9 format.</p>
            <p><a href="/rules/#other">4:3 films</a> must not exceed 90 seconds (1.5 minutes) in length, must be silent, must be black and white, and must be submitted in 4:3 format.</p>
          </div>
      </div>
    </div>
  </div>
  <div id="aspect-content">
    <div class="aspect-tab" id="categories">
      <input id="item-31" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-31" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <h2>Where do I submit?</h2>
          </div>
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
            <p>Right <a href="https://filmfreeway.com/Fronterasmicrofilmfestival" target="_blank">here</a>.</p>
          </div>
      </div>
    </div>
  </div>
  <div id="aspect-content">
    <div class="aspect-tab" id="categories">
      <input id="item-24" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-24" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <h2>Do entrants retain ownership of their submissions?</h2>
          </div>
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
            <p>Yes, entrants retain ownership of their submissions. By submitting their work, they grant a worldwide, irrevocable, perpetual, and unrestricted license to the Sponsor to use submissions for any and all Festival advertising and marketing efforts, including but not limited to digital and social media channels, in-store and other point-of-sale marketing, digital billboards and other out-of-home marketing, and to screen in any live iterations of the Festival.</p>
          </div>
      </div>
    </div>
  </div>
  <div id="aspect-content">
    <div class="aspect-tab" id="categories">
      <input id="item-25" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-25" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <h2>How will the finalists be selected?</h2>
          </div>
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
            <p>The 25 finalists will be selected by a panel of qualified judges chosen by the Sponsor, based on creativity/originality, relevance to the stated themes of the Festival, and relevance to the installations.</p>
            <p>In the event of a tie, the entrant with a higher score in the "Creativity" category, as determined by the Festival Judges in their sole discretion, will be selected from among the tied entrants as the potential Finalist.</p>
          </div>
      </div>
    </div>
  </div>
  <div id="aspect-content">
    <div class="aspect-tab" id="categories">
      <input id="item-26" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-26" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <h2>When will the finalists be notified?</h2>
          </div>
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
            <p>The Finalists will be notified on or about May 9, 2023, using the email address or phone number provided with the submission.</p>
            <p>Finalists will be required to respond within three (3) days of notification via email.</p>
            <p>Finalists are subject to verification.</p>
          </div>
      </div>
    </div>
  </div>
  <div id="aspect-content">
    <div class="aspect-tab" id="categories">
      <input id="item-27" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-27" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <h2>What happens after my film is selected?</h2>
          </div>
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
            <p>We will assign your film to one of the <a href="/installations">installations</a> in each of the 3 live events taking place in 2023:</p>
            <ol class="ol1">
              <li class="li5"><p><strong><a href="https://www.fusionnm.org/campus/" target="_blank">The Cell Theatre at Fusion</a> &mdash; </strong>June 2-4, 2023.</p><p><a href="https://www.google.com/maps/place/The+Cell+Theatre/@35.0898647,-106.6487334,17z/data=!4m10!1m2!2m1!1sfusion+forum!3m6!1s0x87220cba1dc0b4dd:0xa01731c8606f8ebd!8m2!3d35.0897507!4d-106.6465007!15sCgxmdXNpb24gZm9ydW1aDiIMZnVzaW9uIGZvcnVtkgEXcGVyZm9ybWluZ19hcnRzX3RoZWF0ZXKaASRDaGREU1VoTk1HOW5TMFZKUTBGblNVTm5helF6TW5SblJSQULgAQA!16s%2Fg%2F1th7yt6f" target="_blank">700-708 1st St. NW, Albuquerque, NM 87102, USA.</a></p></li>
              <li class="li5"><p><strong><a href="https://currentsnewmedia.org/festivals/currents-new-media-2023/" target="_blank">Currents New Media 2023</a> &mdash; </strong>June 16-18, 2023.</p><p><a href="https://www.google.com/maps/place/SANTA+FE+COUNTY+FAIR+BUILDING/@35.6395733,-105.999311,17z/data=!3m1!4b1!4m6!3m5!1s0x87185a40742d1c67:0x63cc0148c40a287a!8m2!3d35.639569!4d-105.9948317!16s%2Fg%2F11mvh3ln96" target="_blank">3229 Rodeo Rd, Santa Fe, NM 87507, USA.</a></p></li>
              <li class="li5"><p><strong><a href="https://allthingsmood.com/" target="_blank">MOOD</a> &mdash; </strong>TBD 2023</p><p><a href="https://www.google.com/maps/place/MOOD/@35.081776,-106.6140422,17z/data=!3m1!4b1!4m6!3m5!1s0x87220bb5a9f9a0af:0x6fadae02b188071a!8m2!3d35.0817716!4d-106.6118482!16s%2Fg%2F11q2pq419m" target="_blank">3001 Monte Vista Blvd NE, Albuquerque, NM 87106, USA.</a></p></li>
            </ol>
            <p>As a selected filmmaker, you are entitled to 1 (one) free ticket to the MOOD live event -- the Fusion event is free to the public and the Currents New Media event charges for tickets separately. Come hang with us and check out all the films!</p>
          </div>
      </div>
    </div>
  </div>
  <div id="aspect-content">
    <div class="aspect-tab" id="categories">
      <input id="item-30" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-30" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <h2>What if my film has sound?</h2>
          </div>
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
            <p>For the <a href="/rules/#portrait">Portrait Films</a> and the <a href="/rules/#other">16:9 films</a> categories, we will use directional speakers to prevent cacophony.</p>
            <p><a href="/rules/#other">4:3 films</a> must be silent, so no issue there.</p>
          </div>
      </div>
    </div>
  </div>
  <div id="aspect-content">
    <div class="aspect-tab" id="categories">
      <input id="item-28" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-28" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <h2>I want to sponsor the festival. Where can I get that going?</h2>
          </div>
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
            <p>Right <a href="/sponsor/">here</a>.</p>
          </div>
      </div>
    </div>
  </div>
  <div id="aspect-content">
    <div class="aspect-tab" id="categories">
      <input id="item-29" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-29" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <h2>Where are the complete official rules?</h2>
          </div>
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
            <p>Right <a href="/rules/">here</a>.</p>
          </div>
      </div>
    </div>
  </div>

  {# <div class="blogsect">
    <a href="https://dustwave.xyz" target="_blank"><img src="/img/dust-wave-horizontal.png"></a>
    <a href="https://allthingsmood.com" target="_blank"><img src="/img/mood.png"></a>
  </div> #}
</div>
<br />