---
layout: layouts/base.njk
title: Film Selections
description: Our 2025 film selections.
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /films/
eleventyNavigation:
  key: Films
  order: 4
films:
  - amatilla
  - el-porton
  - lineas-de-comunicacion-lines-of-communication
  - microfronteras-1-2-v2-reh
  - the-new-colossus
  - o-private-property
  - oh-are-you-one-too
  - pan-terrestrial-peoples-anthem
  - the-screech-dreams_soft-error-genealogy
  - telemetry
  - u1f4bb_openfield
  - 40
---

{% include "components/header.njk" %}

<br><br>
<div class="fullcontainer small-caption">
  <div class="grid">
    <div class="grid-col grid-col--1">
    </div>
    <div class="grid-col grid-col--2">
    </div>
    <div class="grid-col grid-col--3">
    </div>
  <div class="grid-col grid-col--4">
  </div>
    {% for item in films %}
      {% set film = item | getFilmBySlug(collections) %}
      <div class="grid-item imagediv">
            <a href="{{ film.url if film else ('/' + item + '/') }}">
              <figure><img class="imagecard" src="/img/films/{{ item }}.jpg"/><figcaption>{{ film.data.title if film else (item | replace("-", " ") | title) }}</figcaption></figure>
            </a>
      </div>
    {% endfor %}
  </div>
</div>
</br>

<script>
// selector string as first argument
var colc = new Colcade( '.grid', {
  columns: '.grid-col',
  items: '.grid-item'
});
</script>