---
layout: layouts/base.njk
title: Sponsors
description:
navlogo: cash
backgroundcolor: 39ff14
permalink: /sponsor/
eleventyNavigation:
  key: Sponsors
  order: 5

---

{% include "components/header.njk" %}
<div class="container">
<br />
  <div style="display:flex; align-items:center; justify-content:space-evenly;">
          <div style="padding: 10px; max-width: 50%;">
                  <a href="https://dustwave.xyz" target="_blank"><img src="/img/dust-wave-horizontal.png"></a>
          </div>
          <div style="padding: 10px; max-width: 50%;">
                  <a href="https://allthingsmood.com" target="_blank"><img src="/img/mood.png"></a>
          </div>
  </div>
  <div style="display:flex; align-items:center; justify-content:space-evenly;">
          <div style="padding: 1rem; max-width: 50%;">
                  <a href="https://www.516arts.org/opportunities/fulcrum-fund" target="_blank"><img src="/img/fulcrum.png"></a>
          </div>
          <div style="padding: 1.5rem; max-width: 50%;">
                  <a href="https://currentsnewmedia.org/" target="_blank"><img src="/img/currents.png"></a>
          </div>
  </div>
  <div style="display:flex; align-items:center; justify-content:space-evenly;">
          <div style="padding: 1rem; max-width: 50%;">
                  <a href="https://www.fusionnm.org/" target="_blank"><img src="/img/fusion.png"></a>
          </div>
          <div style="padding: 1rem; max-width: 50%;">
                  <a href="https://www.cabq.gov/urban-enhancement-trust-fund/about-the-trust-fund" target="_blank"><img src="/img/uetf.png"></a>
          </div>
  </div>
  <br />
  <h3>Interested in sponsoring the festival?</h3>
  <p>Fill out the form below and we'll respond right away.</p>
  <form
    action="https://formspree.io/f/mzbqrpeo"
    method="POST"
  >
    <p>
      <label>
       <p>Name *</p>
        <input type="text" name="name" placeholder="You or your company's full name ..." required>
      </label>
    </p>
    <p>
      <label>
       <p>Email *</p>
        <input type="email" name="email" placeholder="Your email address ..." required>
      </label>
    </p>
    <p>
      <label>
        <p>Message!</p>
        <textarea name="message" placeholder="Your message ..."></textarea>
      </label>
    </p>
    <!-- your other form fields go here -->
    <button type="submit">Send</button>
  </form>
</div>
<br />
<br />
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>