---
layout: layouts/base.njk
title: "O, Private Property!"
description: "Nata Aguilar"
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /o-private-property/
image: /img/films/o-private-property.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/o-private-property.jpg" alt="O, Private Property! film still" class="post-hero installation-hero">
    </br>
        <p><i>A video series of private properties in New Mexico.</i></p>
        </br>

        <span>-- Nata Aguilar</span><a name="instagram link" class="artist-insta" href="#" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
        </br>

    
  </div>
  </br></br>
</div>
