---
layout: layouts/base.njk
title: "The Screech Dreams_Soft Error Genealogy"
description: "Wednesday Kim"
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /the-screech-dreams_soft-error-genealogy/
image: /img/films/the-screech-dreams_soft-error-genealogy.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/the-screech-dreams_soft-error-genealogy.jpg" alt="The Screech Dreams_Soft Error Genealogy film still" class="post-hero installation-hero">
    </br>
        <p><i>Soft Error Genealogy explores a lineage of digital memories and virtual identities shaped by subtle failures and corrupted data. Inspired by Korean folklore—where 도깨비 (Dokkaebi) are born from discarded objects—this project reimagines the goblin as a ghost of electronic waste. My Dokkaebi was born from an old 2G slide phone, constructed from residual data: search history, texts, screenshots, and forgotten fragments.</i></p>
        </br>
    <p><i>As she replicates herself, one identity giving rise to another, a fractured digital ancestry emerges—a soft error genealogy. This lineage is built on gentle yet irreversible glitches: unerasable memories, spectral data, and traces of gendered labor. The Dokkaebi grows from these broken inheritances, revealing how corrupted digital pasts continue to echo through the present.</i></p>
        </br>

        <span>-- Wednesday Kim</span><a name="instagram link" class="artist-insta" href="#" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
        </br>

    
  </div>
  </br></br>
</div>
