---
layout: layouts/base.njk
title: "(U+1F4BB)_OpenField"
description: "Sebasti\u00e1n Mira"
navlogo: emojianim
backgroundcolor: F5F5F5
permalink: /u1f4bb_openfield/
image: /img/films/u1f4bb_openfield.jpg
---

{% include "components/header.njk" %}
</br>
<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/films/u1f4bb_openfield.jpg" alt="(U+1F4BB)_OpenField film still" class="post-hero installation-hero">
    </br>
        <p><i>(U+1F4BB) is a series of videos depicting a group of laptops playing fantasies of spatial occupation in computerized landscapes in which other laptops are the sovereign explorers of Everything's virtual terrains. Their journeys are accompanied by a generative sound piece of cybernetic ambient noise, along with a series of subtitled narratives that allude to conquest chronicles in "exotic lands", which recall the pre-colonial and domestication history in the Americas.</i></p>
        </br>
    <p><i>*(U+1F4BB) is the name given to a personal computer or laptop in the Unicode code system, and is usually used to refer to digital labors.</i></p>
        </br>

        <span>-- Sebastián Mira</span><a name="instagram link" class="artist-insta" href="#" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
        </br>

    
  </div>
  </br></br>
</div>
