---
layout: layouts/base.njk
title: By Boat
description: Jacklyn Le and James Rodriguez
navlogo: boat
backgroundcolor: 7fffd4
permalink: /by-boat/
boat:
  - 1
  - 2
  - 3
  - 4
  - 5
---

{% include "components/header.njk" %}

<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/sketches/boat.jpg" alt="boat" class="post-hero installation-hero">
    <p>By Boat is an installation examining the exodus of Vietnamese Boat People; refugees who fled Vietnam by boat and ship following the end of the Vietnam War in 1975.</p>
    <p>The installation invites viewers into a space like that of those who made the dangerous journey. It brings awareness to their stark conditions and pays homage to the lives of the many who did not make it. As a second-generation Vietnamese American, I often feel separated from the journey my family took to flee their war stricken nation. Their trauma, sadness, and hardships were felt, but were left unsaid. I wanted to change that in my own life.</p>
    <p>In 2022, I almost lost my mother to sudden health issues. It made me realize that I knew little details about her journey from Vietnam. This led me into deeper dialog with my mom about her experience crossing borders by sea. By Boat is a reflection of my desire to understand more about my mom's story. It is an encouragement to face the sometimes-uncomfortable truth; to gather our oral histories so that we can preserve experiences and truths through generations.</p>
    <p>The journey crossing borders takes many forms, but my family happens to be by boat.</p></br>
  </div>
  <div class="flex-row insta-row" markdown="0">
    <div class="center-flex flex-column insta-column">
        <span>Jacklyn's</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/le_snacky/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </div>
    <div class="center-flex flex-column insta-column">
        <span>James's</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/jittlelames/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </div>
  </div>
  </br>
  <div class="full-width-post">
    <h3 style="text-align:center;">Films screened</h3>
    <p style="text-align:center;">Bag Check</p>
    <p style="text-align:center;">Creat</p>
    <p style="text-align:center;">Santa Fe Resident</p>
    <p style="text-align:center;">The Birch Tree</p>
    <p style="text-align:center;">The Dream of Being Free</p>
  </div>
  </br>
</div>

<div class="fullcontainer small-caption">
  <div class="grid">
    <div class="grid-col grid-col--1">
    </div>
    <div class="grid-col grid-col--2">
    </div>
    {# <div class="grid-col grid-col--3">
    </div> #}
    {# <div class="grid-col grid-col--4">
    </div> #}
    {% for item in boat %}
      <div class="grid-item imagediv">
        <img class="imagecard" src="/img/boat/{{ item }}.jpg"/>
      </div>
    {% endfor %}
  </div>
</div>
</br>
<script>
// selector string as first argument
var colc = new Colcade( '.grid', {
  columns: '.grid-col',
  items: '.grid-item'
});
</script>