---
layout: layouts/installation.njk
title: By Boat
authors:
  - name: Jacklyn Le
    instagram: le_snacky
  - name: James Rodriguez
    instagram: jittlelames
navlogo: ⛵ Boat
backgroundcolor: Aqua
heroImage: /img/sketches/by-boat.jpg
description: |
  <p>By Boat is an installation examining the exodus of Vietnamese Boat People; refugees who fled Vietnam by boat and ship following the end of the Vietnam War in 1975.</p>
  <p>The installation invites viewers into a space like that of those who made the dangerous journey. It brings awareness to their stark conditions and pays homage to the lives of the many who did not make it. As a second-generation Vietnamese American, I often feel separated from the journey my family took to flee their war stricken nation. Their trauma, sadness, and hardships were felt, but were left unsaid. I wanted to change that in my own life.</p>
  <p>In 2022, I almost lost my mother to sudden health issues. It made me realize that I knew little details about her journey from Vietnam. This led me into deeper dialog with my mom about her experience crossing borders by sea. By Boat is a reflection of my desire to understand more about my mom's story. It is an encouragement to face the sometimes-uncomfortable truth; to gather our oral histories so that we can preserve experiences and truths through generations.</p>
  <p>The journey crossing borders takes many forms, but my family happens to be by boat.</p>
showAllFilms: false
filmsScreened:
  - Bag Check
  - Creat
  - Santa Fe Resident
  - The Birch Tree
  - The Dream of Being Free
galleryImages:
  - /img/by-boat/1.jpg
  - /img/by-boat/2.jpg
  - /img/by-boat/3.jpg
  - /img/by-boat/4.jpg
  - /img/by-boat/5.jpg
year: "2023"
---
