---
layout: layouts/installation.njk
title: The Space Between Home
authors:
  - name: Helen Atkins
    instagram: helenjuliet_art
  - name: Will Geusz
    instagram: willinandchillinarts
navlogo: ☁️ Clouds
backgroundcolor: Light Blue
heroImage: /img/sketches/the-space-between-home.jpg
description: |
  <p>"The Space Between Home" explores the physical and psychological distance that exists between a person's place of origin, and the place they migrate to. The cloud-like installation evokes the physical and imagined space many travel as they cross borders. It is deeply inspired by Helen's experience being the child of an immigrant mother from Caracas, Venezuela. Her family has traveled by plane great distances, sometimes for short visits, other times leaving their home and not knowing if, or when they may return. "The Space Between Home" evokes the duality of identity and destiny that many people who migrate, and their families, experience.</p>
showAllFilms: true
filmsScreened: []
galleryImages:
  - /img/the-space-between-home/1.jpg
  - /img/the-space-between-home/2.jpg
  - /img/the-space-between-home/3.jpg
  - /img/the-space-between-home/4.jpg
year: "2023"
---
