---
layout: layouts/base.njk
title: The Door Doesn't Close Behind You
description: Adrian Pijoan
navlogo: door
backgroundcolor: FEE283
permalink: /the-door-doesnt-close-behind-you/
image: /img/sketches/the-door-doesnt-close-behind-you.png
door:
  - 1
---

{% include "components/header.njk" %}

<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/sketches/the-door-doesnt-close-behind-you.jpg" alt="door" class="post-hero installation-hero">
    </br>
    <p><i>The door doesn't close behind you</i> is a sculptural installation designed for the Fronteras Micro-film Festival. When the door is closed, it projects an image of a closed door. When the door is opened, films from Fronteras are allowed to play.</p>
    <p>As the son of an immigrant and first generation US citizen on my father's side, I think about the concept of keeping the door open for further immigration. We need to remember that as Americans most of us are the product of immigration. Immigration makes this country beautiful, but many people in this country now think that since they got theirs, it's time to close the door behind them.</p>
    <p><i>The door doesn't close behind you</i> is a call to action. Unlike the title, the door in this sculpture is on spring hinges that force it closed unless it is held open. Passivity is not an option. If we don't act, it will continue to be slammed shut by those in power. People who walk by and are too afraid or nervous to make a gesture of opening the door get nothing. People who are bold and willing to act are rewarded with one of the many beautiful films contributed to Fronteras by filmmakers from all over the world.</p>
    <p>There are no instructions provided for the door. People have to think for themselves, make the connection between the projection and the physical object; decide whether they want to step up and open the door, or leave it closed.</p>
</p>
  </div>
  </br>
  <div class="flex-row insta-row" markdown="0">
    <div class="center-flex flex-column insta-column">
        <span>Adrian's</span><a name="instagram link" class="artist-insta" href="https://www.instagram.com/adrian_pijoan/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </div>
  </div>
  </br>
  <div class="full-width-post">
    <h3 style="text-align:center;">Films screened</h3>
    <p style="text-align:center;"><a href="/u1f4bb_openfield/">(U+1F4BB)_OpenField</a></p>
    <p style="text-align:center;"><a href="/the-screech-dreams_soft-error-genealogy/">The Screech Dreams_Soft Error Genealogy</a></p>
    <p style="text-align:center;"><a href="/the-new-colossus/">The New Colossus</a></p>
    <p style="text-align:center;"><a href="/telemetry/">Telemetry</a></p>
    <p style="text-align:center;"><a href="/pan-terrestrial-peoples-anthem/">Pan-terrestrial People's Anthem</a></p>
    <p style="text-align:center;"><a href="/oh-are-you-one-too/">Oh, Are You One, Too?</a></p>
    <p style="text-align:center;"><a href="/o-private-property/">O, Private Property!</a></p>
    <p style="text-align:center;"><a href="/microfronteras-1-2-v2-reh/">Microfronteras 1 2 (V2) reh.</a></p>
    <p style="text-align:center;"><a href="/lineas-de-comunicacion-lines-of-communication/">Líneas de Comunicación / Lines of Communication</a></p>
    <p style="text-align:center;"><a href="/el-porton/">El Porton</a></p>
    <p style="text-align:center;"><a href="/amatilla/">Amatilla</a></p>
  </div>
  </br>
</div>
</br>
<div class="fullcontainer small-caption">
  <div class="grid">
    <div class="grid-col grid-col--1">
    </div>
    <div class="grid-col grid-col--2">
    </div>
    {# <div class="grid-col grid-col--3">
    </div> #}
    {# <div class="grid-col grid-col--4">
    </div> #}
    {% for item in door %}
      <div class="grid-item imagediv">
        <img class="imagecard" src="/img/door/{{ item }}.jpg"/>
      </div>
    {% endfor %}
  </div>
</div>
</br>
<script>
// selector string as first argument
var colc = new Colcade( '.grid', {
  columns: '.grid-col',
  items: '.grid-item'
});
</script>