---
layout: layouts/base.njk
title: The Space Between Home
description: Helen Atkins and Will Geusz
navlogo: clouds
backgroundcolor: 4E9FE5
permalink: /the-space-between-home/
clouds:
  - 1
  - 2
  - 3
  - 4
---

{% include "components/header.njk" %}

<div class="bigcontainer">
  <div class="full-width-post">
    <img src="/img/sketches/the-space-between-home.jpg" alt="clouds" class="post-hero installation-hero">
    <p>"The Space Between Home" is an indoor installation that explores the physical and psychological distance that exists between a person's place of origin, and the place they migrate to. It positions two couches across from one another, with a series of transparent and opaque cloud-like sheets of fabric hanging between them. Viewers can sit at either couch and watch films projected onto the clouds. They are also able to see the feet of other viewers sitting across from them, peeking out from the bottom of the "clouds." The installation is whimsical and light, yet carries a sense of tension, as visitors are aware of the shrouded audience across from them -- wondering and thinking of their experience.</p>
    <p>"The Space Between Home" is inspired by the duality of identity and destiny many people who migrate experience. Specifically, I (Helen) drew from the experience of being the daughter of an immigrant mother from Caracas, Venezuela.</p>
    </br>
  </div>
  <div class="flex-row insta-row" markdown="0">
    <div class="center-flex flex-column insta-column">
        <span>Helen's</span><a name="instagram link" class="artist-insta" href="https://instagram.com/helenjuliet_art/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </div>
    <div class="center-flex flex-column insta-column">
        <span>Will's</span><a name="instagram link" class="artist-insta" href="https://instagram.com/willinandchillinarts/" target="_blank"><sub><i class="fab fa-instagram"></i></sub></a>
    </div>
  </div>
  </br>
  <div class="full-width-post">
    <h3 style="text-align:center;">All selected films screened</h3>
  </div>
  </br>
</div>

<div class="fullcontainer small-caption">
  <div class="grid">
    <div class="grid-col grid-col--1">
    </div>
    <div class="grid-col grid-col--2">
    </div>
    {# <div class="grid-col grid-col--3">
    </div> #}
    {# <div class="grid-col grid-col--4">
    </div> #}
    {% for item in clouds %}
      <div class="grid-item imagediv">
        <img class="imagecard" src="/img/clouds/{{ item }}.jpg"/>
      </div>
    {% endfor %}
  </div>
</div>
</br>
<script>
// selector string as first argument
var colc = new Colcade( '.grid', {
  columns: '.grid-col',
  items: '.grid-item'
});
</script>