---
layout: layouts/installation.njk
title: Tower of Cower
authors:
  - name: Andres Indacochea
    instagram: mastersynchacks
  - name: Laura Morris
    instagram: kissmeimwelsh
  - name: Ryan Lewis
    instagram: notthatryanlewis
  - name: Kaidin Jarjusey
    instagram: qwaeofficial
  - name: Alonso Indacochea
    instagram: alonso_inda
navlogo: 🗼 Tower
backgroundcolor: Red
heroImage: /img/sketches/tower-of-cower.jpg
description: |
  <p>"Tower of Cower" is an indoor video and camera installation consisting of several vintage CRT and LED televisions, showing short silent films about surveillance. The tower also features gutted CRTs using mirrors as screen replacements, and televisions displaying live surveillance footage of visitors to the installation. All of the video inputs/outputs are controlled by a video matrix switcher box and a PC, using RCA and VHF/UHF transmission. Arduino-controlled buttons, sliders and sensors allow visitors to manipulate screens on the tower. The installation is visible from 360 degrees, with televisions positioned around the tower.</p>
  <p>The installation is designed to draw attention to the highly-surveilled nature of national borders, and to create a sense of unease or discomfort, by demonstrating how technology can be used to monitor and control people and their movements. We invite visitors to reflect on how surveillance technology is employed in border enforcement but also in their own lives.</p>
showAllFilms: false
filmsScreened:
  - Follow Me Quietly
  - Les Yeux (The Eyes)
  - Pick
  - The Darkest Place
  - They Came From Planet X
  - You Came First
galleryImages:
  - /img/tower-of-cower/1.jpg
  - /img/tower-of-cower/2.jpg
  - /img/tower-of-cower/3.jpg
  - /img/tower-of-cower/4.jpg
  - /img/tower-of-cower/5.jpg
year: "2023"
---
