---
layout: layouts/base.njk
title: Installations
description: Our 2023 installations.
navlogo: installation
backgroundcolor: ff4760
permalink: /installations-2023/
useColcade: true
eleventyNavigation:
  key: Installations2023
  parent: "2023"
  order: 3
  title: Installations
---

{% include "components/header.njk" %}


<div class="fullcontainer small-caption">
  <div class="grid">
    <div class="grid-col grid-col--1">
    </div>
    <div class="grid-col grid-col--2">
    </div>
    {% for installation in collections.installations2023 %}
      <div class="grid-item imagediv">
            <a href="{{ installation.url }}">
              <figure><img class="imagecard" src="{{ installation.data.heroImage or installation.data.image }}" alt="{{ installation.data.title }}"{% if loop.first %} fetchpriority="high"{% elif loop.index > 2 %} loading="lazy" decoding="async"{% endif %}/><figcaption>{{ installation.data.title }}</figcaption></figure>
            </a>
      </div>
    {% endfor %}
  </div>
  <div class="bigcontainer">
    <p>Photos courtesy of <a href="https://www.instagram.com/cherrita.thao/" target="_blank">Cherrita Thao</a> and <a href="https://www.instagram.com/gary.shaw.foto/" target="_blank">Gary Shaw</a>.</p>
  </div>
</div>
</br>

<script>
window.addEventListener('load', function() {
  var colc = new Colcade('.grid', {
    columns: '.grid-col',
    items: '.grid-item'
  });
});
</script>
