---
layout: layouts/base.njk
title: Sponsors
description:
navlogo: cash
backgroundcolor: 39ff14
permalink: /sponsor-2023/
eleventyNavigation:
  key: Sponsors2023
  parent: "2023"
  order: 5
  title: Sponsors
---

{% include "components/header.njk" %}
<div class="container">
<br />
  <div style="display:flex; flex-wrap:wrap; align-items:center; justify-content:space-evenly;">
    {% for sponsor in collections.sponsors2023 %}
      <div style="padding: 1rem; max-width: 50%;">
        <a href="{{ sponsor.data.url }}" target="_blank"><img src="{{ sponsor.data.logo }}" alt="{{ sponsor.data.name }}"></a>
      </div>
    {% endfor %}
  </div>
</div>
<br />
