---
layout: layouts/page.njk
title: News
description: News on the festival.
permalink: /posts/
navlogo: news
backgroundcolor: ff00ff
eleventyNavigation:
  key: News
  order: 2

---
{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}